<footer>
  <div class="news">
    <div class="container">
      <div class="row">
        <div class="newsletter">
          {{ ftop_full }}
        </div>
      </div>
    </div>
  </div>
  <div class="middle-footer">
    <div class="container">
      <div class="row">

        {% if footer_left and footer_right %}
        {% set class = 'col-sm-8' %}
        {% elseif footer_left or footer_right %}
        {% set class = 'col-sm-12' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <div class="col-sm-12 col-md-12 col-xs-12 fleft">
          <div class="row">
            {% if informations %}
            <div class="col-md-3 col-sm-3 col-xs-12 fborder">
              <h5>{{ text_information }}
                <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#info"></button>
              </h5>
              <hr class="fhr">
              <div id="info" class="collapse footer-collapse">
                <ul class="list-unstyled">
                  {% for information in informations %}
                  <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                  {% endfor %}
                  <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
                </ul>
              </div>
            </div>
            {% endif %}
            <div class="col-md-3 col-sm-3 col-xs-12 fborder">
              <h5>{{ text_company }}
                <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#accountf"></button>
              </h5>
              <hr class="fhr">
              <div id="accountf" class="collapse footer-collapse">
                <ul class="list-unstyled lastb">
                  <li><a href="{{ account }}">{{ text_account }}</a></li>
                  <li><a href="{{ order }}">{{ text_order }}</a></li>
                  <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                  <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
                  <li><a href="{{ special }}">{{ text_special }}</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 fborder">
              <h5>{{ text_account }}
                <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#desh"></button>
              </h5>
              <hr class="fhr">
              <div id="desh" class="collapse footer-collapse">
                <ul class="list-unstyled lastb">
                  <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                  <li><a href="{{ return }}">{{ text_return }}</a></li>
                  <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                  <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
                  <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 fright fborder"> {{ footer_right }}</div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="block-social text-xs-center">
            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="text-xs-center copy">Discount Cash and Carry, All Rights Reserved.</div>
  <!--  <div class="col-md-7 col-sm-7 text-right"> <div class="row">{{ fbottom_full }}</div></div> -->

</footer>
<a href="" id="scroll" title="Scroll to Top" style="display: block;">
  <svg width="50px" height="50px"> <use xlink:href="#gototop"></use></svg>
</a>



{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>
