<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/webiarch/elevatezoom.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" integrity="sha256-4OK8Th0+5QJMThqlimytmqQvxjqMic4YATocjyuUh1w=" crossorigin="anonymous"></script>
    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
    <link href="catalog/view/theme/default/stylesheet/webiarch/countdown/jquery.countdown.css" rel="stylesheet"
          type="text/css"/>
    <script src="catalog/view/javascript/webiarch/custom.js" type="text/javascript"></script>

    <script src="catalog/view/javascript/webiarch/countdown/jquery.plugin.min.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/webiarch/countdown/jquery.countdown.min.js" type="text/javascript"></script>

    <script src="catalog/view/javascript/webiarch/animate.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/webiarch/animate.css" rel="stylesheet" type="text/css"/>


    <link href="catalog/view/theme/default/stylesheet/webiarch/countdown/jquery.countdown.css" rel="stylesheet"
          type="text/css"/>
    <script src="catalog/view/javascript/webiarch/countdown/jquery.plugin.min.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/webiarch/countdown/jquery.countdown.min.js" type="text/javascript"></script>
    <!-- blog image zoom -->
    <script src="catalog/view/javascript/webiarch/blog/lightbox-2.6.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/webiarch/blog/lightbox.css" rel="stylesheet" type="text/css"/>
    <!-- blog image zoom -->
    <!--right to left (RTL)-->
    {% if direction=='rtl' %}
        <link href="catalog/view/theme/default/stylesheet/rtl.css" rel="stylesheet"> {% endif %}
    <!--over RTL-->
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>
<svg style="display: none;">
    <symbol viewBox="0 0 451 451" id="hsearch">
        <path d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3
    s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4
    C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3
    s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z"></path>
    </symbol>
    <symbol viewBox="0 0 95.494 95.494" id="clist">
        <circle cx="10.906" cy="17.294" r="10.906"></circle>
        <circle cx="10.906" cy="47.294" r="10.906"></circle>
        <circle cx="10.906" cy="78.2" r="10.906"></circle>
        <path d="M34.258,24.43h59.236c0.529,0,1.039-0.211,1.414-0.586s0.586-0.884,0.586-1.414l-0.002-10.271c0-1.104-0.896-2-2-2
        H34.258c-1.104,0-2,0.896-2,2V22.43C32.258,23.534,33.153,24.43,34.258,24.43z"></path>
        <path d="M93.492,40.158H34.258c-1.104,0-2,0.896-2,2v10.271c0,1.104,0.896,2,2,2h59.236c0.529,0,1.039-0.211,1.414-0.586
        s0.586-0.885,0.586-1.414l-0.002-10.271C95.492,41.054,94.598,40.158,93.492,40.158z"></path>
        <path d="M93.492,71.064H34.258c-1.104,0-2,0.896-2,2v10.271c0,1.104,0.896,2,2,2h59.236c0.529,0,1.039-0.211,1.414-0.586
        s0.586-0.885,0.586-1.414l-0.002-10.271C95.492,71.96,94.598,71.064,93.492,71.064z"></path>
    </symbol>
    <symbol viewBox="0 0 341.333 341.333" id="cgrid">
        <rect x="128" y="128" width="85.333" height="85.333"></rect>
        <rect x="0" y="0" width="85.333" height="85.333"></rect>
        <rect x="128" y="256" width="85.333" height="85.333"></rect>
        <rect x="0" y="128" width="85.333" height="85.333"></rect>
        <rect x="0" y="256" width="85.333" height="85.333"></rect>
        <rect x="256" y="0" width="85.333" height="85.333"></rect>
        <rect x="128" y="0" width="85.333" height="85.333"></rect>
        <rect x="256" y="128" width="85.333" height="85.333"></rect>
        <rect x="256" y="256" width="85.333" height="85.333"></rect>
    </symbol>
    <symbol viewBox="0 0 492.087 492.087" id="gototop">
        <path style="fill:#005ECE;" d="M420.022,75.299C373.551,28.827,311.764,3.234,246.043,3.234v40
    c113.613,0,206.043,92.431,206.043,206.044v12.819c24.658,24.019,40,57.557,40,94.617V249.278
    C492.087,183.557,466.494,121.77,420.022,75.299z"></path>
        <path style="fill:#2488FF;" d="M72.064,75.299C25.593,121.77,0,183.557,0,249.278v107.436h172.139V224.574h-40
    c-35.802,0-68.318,14.319-92.139,37.522v-12.819c0-113.613,92.431-206.044,206.043-206.044v-40
    C180.323,3.234,118.536,28.827,72.064,75.299z"></path>
        <path style="fill:#005ECE;" d="M0,356.714c0,72.862,59.277,132.139,132.139,132.139h40V356.714H0z"></path>
        <path style="fill:#00479B;" d="M452.087,262.097c-23.821-23.203-56.337-37.522-92.139-37.522h-40v132.139h172.139
    C492.087,319.654,476.745,286.115,452.087,262.097z"></path>
        <path style="fill:#003068;"
              d="M319.948,356.714v132.139h40c72.862,0,132.139-59.277,132.139-132.139H319.948z"></path>
    </symbol>
    <symbol id="hcall" viewBox="0 0 32.666 32.666">
        <path d="M28.189,16.504h-1.666c0-5.437-4.422-9.858-9.856-9.858l-0.001-1.664C23.021,4.979,28.189,10.149,28.189,16.504z
     M16.666,7.856L16.665,9.52c3.853,0,6.983,3.133,6.981,6.983l1.666-0.001C25.312,11.735,21.436,7.856,16.666,7.856z M16.333,0
    C7.326,0,0,7.326,0,16.334c0,9.006,7.326,16.332,16.333,16.332c0.557,0,1.007-0.45,1.007-1.006c0-0.559-0.45-1.01-1.007-1.01
    c-7.896,0-14.318-6.424-14.318-14.316c0-7.896,6.422-14.319,14.318-14.319c7.896,0,14.317,6.424,14.317,14.319
    c0,3.299-1.756,6.568-4.269,7.954c-0.913,0.502-1.903,0.751-2.959,0.761c0.634-0.377,1.183-0.887,1.591-1.529
    c0.08-0.121,0.186-0.228,0.238-0.359c0.328-0.789,0.357-1.684,0.555-2.518c0.243-1.064-4.658-3.143-5.084-1.814
    c-0.154,0.492-0.39,2.048-0.699,2.458c-0.275,0.366-0.953,0.192-1.377-0.168c-1.117-0.952-2.364-2.351-3.458-3.457l0.002-0.001
    c-0.028-0.029-0.062-0.061-0.092-0.092c-0.031-0.029-0.062-0.062-0.093-0.092v0.002c-1.106-1.096-2.506-2.34-3.457-3.459
    c-0.36-0.424-0.534-1.102-0.168-1.377c0.41-0.311,1.966-0.543,2.458-0.699c1.326-0.424-0.75-5.328-1.816-5.084
    c-0.832,0.195-1.727,0.227-2.516,0.553c-0.134,0.057-0.238,0.16-0.359,0.24c-2.799,1.774-3.16,6.082-0.428,9.292
    c1.041,1.228,2.127,2.416,3.245,3.576l-0.006,0.004c0.031,0.031,0.063,0.06,0.095,0.09c0.03,0.031,0.059,0.062,0.088,0.095
    l0.006-0.006c1.16,1.118,2.535,2.765,4.769,4.255c4.703,3.141,8.312,2.264,10.438,1.098c3.67-2.021,5.312-6.338,5.312-9.719
    C32.666,7.326,25.339,0,16.333,0z"></path>
    </symbol>
    <symbol id="pcart" viewBox="0 0 511.997 511.997">
        <path d="M405.387,362.612c-35.202,0-63.84,28.639-63.84,63.84s28.639,63.84,63.84,63.84s63.84-28.639,63.84-63.84
      S440.588,362.612,405.387,362.612z M405.387,451.988c-14.083,0-25.536-11.453-25.536-25.536s11.453-25.536,25.536-25.536
      c14.083,0,25.536,11.453,25.536,25.536S419.47,451.988,405.387,451.988z"></path>
        <path d="M507.927,115.875c-3.626-4.641-9.187-7.348-15.079-7.348H118.22l-17.237-72.12c-2.062-8.618-9.768-14.702-18.629-14.702
      H19.152C8.574,21.704,0,30.278,0,40.856s8.574,19.152,19.152,19.152h48.085l62.244,260.443
      c2.062,8.625,9.768,14.702,18.629,14.702h298.135c8.804,0,16.477-6.001,18.59-14.543l46.604-188.329
      C512.849,126.562,511.553,120.516,507.927,115.875z M431.261,296.85H163.227l-35.853-150.019h341.003L431.261,296.85z"></path>
        <path d="M173.646,362.612c-35.202,0-63.84,28.639-63.84,63.84s28.639,63.84,63.84,63.84s63.84-28.639,63.84-63.84
      S208.847,362.612,173.646,362.612z M173.646,451.988c-14.083,0-25.536-11.453-25.536-25.536s11.453-25.536,25.536-25.536
      s25.536,11.453,25.536,25.536S187.729,451.988,173.646,451.988z"></path>
    </symbol>
    <symbol id="pwish" viewBox="0 0 129 129">
        <path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"></path>
    </symbol>
    <symbol id="pcom" viewBox="0 0 490 490">
        <path d="M215.746,324.797L109.763,98.724l127.557-23.822v288.682c-137.303,6.625-190.134,99.45-192.383,103.566l-12.408,22.659
    h444.023l-17.213-24.174c-2.876-4.024-69.217-94.753-191.419-101.975V69.195l113.894-21.267l-107.56,229.424H490L382.395,47.82
    l93.958-17.534l-5.615-30.095L28.886,82.689l5.615,30.095l71.115-13.281L0,324.797H215.746z M88.939,459.209
    c24.021-26.209,74.909-65.653,163.68-65.653c76.791,0,131.336,39.046,159.61,65.653H88.939z M322.403,246.752l59.731-127.419
    l59.716,127.419H322.403z M48.149,294.197l59.716-127.419l59.731,127.419H48.149z"></path>
    </symbol>
    <symbol viewBox="0 0 459 459" id="quick">
        <path d="M484.586,233.212c-5.084-4.578-125.779-111.967-239.689-111.967c-113.903,0-234.598,107.389-239.688,111.967
    C1.891,236.194,0,240.452,0,244.909c0,4.455,1.891,8.711,5.208,11.693c5.09,4.58,125.785,111.953,239.688,111.953
    c113.911,0,234.606-107.373,239.689-111.953c3.322-2.982,5.215-7.238,5.215-11.693
    C489.801,240.452,487.908,236.194,484.586,233.212z M244.896,333.915c-49.068,0-89.005-39.924-89.005-89.006
    c0-49.086,39.937-89.01,89.005-89.01c49.072,0,89.011,39.924,89.011,89.01C333.908,293.991,293.969,333.915,244.896,333.915z
     M144.137,179.042c-12.422,18.949-19.721,41.553-19.721,65.867c0,24.277,7.268,46.855,19.686,65.803
    c-45.057-21.207-83.982-49.943-103.822-65.818C60.119,229.003,99.045,200.235,144.137,179.042z M345.664,310.757
    c12.416-18.947,19.719-41.551,19.719-65.848c0-24.281-7.285-46.873-19.688-65.822c45.043,21.209,83.969,49.945,103.821,65.822
    C429.677,260.8,390.756,289.55,345.664,310.757z"></path>
        <path d="M244.896,194.259c-27.982,0-50.648,22.664-50.648,50.65c0,27.982,22.666,50.648,50.648,50.648
    c27.988,0,50.656-22.666,50.656-50.648C295.553,216.923,272.885,194.259,244.896,194.259z M244.896,226.298
    c-10.262,0-18.607,8.346-18.607,18.611c0,4.348-3.533,7.865-7.867,7.865c-4.365,0-7.869-3.518-7.869-7.865
    c0-18.934,15.4-34.348,34.344-34.348c4.352,0,7.871,3.52,7.871,7.867C252.768,222.78,249.248,226.298,244.896,226.298z"></path>
    </symbol>
    <symbol viewBox="0 0 422.692 422.692" id="support">
        <path d="M271.786,289.626v-7.36c2.08-1.68,4.08-3.52,6-5.44c15.373-16.927,25.053-38.246,27.68-60.96
      c13.816-2.105,26.269-9.509,34.72-20.64c11.6-16.4,12.64-40,2.96-69.6c-0.569-1.707-1.696-3.173-3.2-4.16l-4.4-2.96
      c0.649-26.708-8.581-52.716-25.92-73.04c-21.52-24.24-54.56-36.48-98.32-36.64c-43.68,0-76.8,12.4-98.32,36.32
      c-17.339,20.324-26.569,46.332-25.92,73.04l-4.4,2.96c-1.504,0.987-2.631,2.453-3.2,4.16c-9.68,29.76-8.64,53.2,2.96,69.6
      c8.419,11.209,20.872,18.698,34.72,20.88c2.638,22.75,12.348,44.099,27.76,61.04c1.905,1.916,3.907,3.732,6,5.44v7.36
      c-30.64,5.92-152.96,34.64-150.88,116.24c0,4.418,3.582,8,8,8h406.64c4.418,0,8-3.582,8-8
      C424.746,324.266,302.426,295.546,271.786,289.626z M112.346,197.946c-6.798-2.283-12.723-6.614-16.96-12.4l0.4,0.08
      c-8-11.68-8.72-29.36-1.6-52.72l5.84-3.92c2.457-1.64,3.81-4.5,3.52-7.44c-1.346-23.91,6.431-47.441,21.76-65.84
      c18.08-20.48,47.12-30.72,86-30.88c38.88-0.16,67.92,10.4,86.32,30.88c15.329,18.399,23.106,41.93,21.76,65.84
      c-0.29,2.94,1.063,5.8,3.52,7.44l5.84,3.92c7.12,23.28,6.64,41.04-1.6,52.72c-4.266,5.791-10.217,10.122-17.04,12.4
      c9.65-10.98,14.365-25.442,13.04-40c-1.499-8.759-6.065-16.698-12.88-22.4c-3.44-80-59.52-88.96-83.68-88.96
      c-5.114-0.015-10.222,0.36-15.28,1.12c-5.057-0.761-10.166-1.135-15.28-1.12c-24,0-80,8.8-83.68,88.96
      c-6.859,5.656-11.481,13.568-13.04,22.32C97.972,172.505,102.688,186.971,112.346,197.946z M294.346,132.346
      c-33.569,1.94-66.928-6.435-95.6-24c-3.245-2.279-7.67-1.836-10.4,1.04c-16,17.2-45.2,21.2-59.28,22.08
      c4.32-56.56,38.56-68.88,67.36-68.88c4.584-0.033,9.162,0.342,13.68,1.12c1.056,0.216,2.144,0.216,3.2,0
      c4.518-0.776,9.096-1.151,13.68-1.12c28.56,0,62.96,12.64,66.96,69.68L294.346,132.346z M131.866,199.466l0.32,0.08
      c0.017-1.972-0.695-3.881-2-5.36c-10.96-12.56-16-24-14.64-33.44c0.652-5.258,3.249-10.081,7.28-13.52c10.56,0,48-2,72-22.72
      c27.029,15.539,57.623,23.808,88.8,24c5.36,0,10.8,0,16.48-0.88c3.921,3.348,6.482,8.014,7.2,13.12
      c1.36,9.28-3.68,20.88-14.64,33.44c-1.305,1.479-2.017,3.388-2,5.36c0,0,0,1.6,0,4.16l-46.56,24.96
      c-9.24-8.748-23.823-8.349-32.571,0.891c-8.748,9.24-8.349,23.823,0.891,32.571c9.24,8.748,23.823,8.349,32.571-0.891
      c4.054-4.282,6.312-9.955,6.309-15.851c0.036-0.72,0.036-1.44,0-2.16l36.72-19.68c-3.152,15.775-10.567,30.384-21.44,42.24
      c-14.182,13.654-33.379,20.835-53.04,19.84h-4c-19.619,0.974-38.774-6.172-52.96-19.76
      C131.306,240.666,131.866,199.866,131.866,199.466z M235.306,245.386c0,3.932-3.188,7.12-7.12,7.12c-3.932,0-7.12-3.188-7.12-7.12
      c0-3.932,3.188-7.12,7.12-7.12S235.306,241.454,235.306,245.386z M203.306,397.386H16.266c6.32-60.08,104-85.2,134.56-91.68v14.32
      c0,18.16,22.08,32,52.48,34.32V397.386z M166.826,320.026v-0.24v-27.36c13.298,6.167,27.824,9.231,42.48,8.96h4
      c14.656,0.271,29.182-2.793,42.48-8.96v27.6c0,7.6-17.36,18.56-44.48,18.56S166.826,327.626,166.826,320.026z M219.306,397.626
      v-43.36c30.4-2.08,52.48-16,52.48-34.32v-14c30.8,6.4,128,31.52,134.56,91.68H219.306z"></path>
    </symbol>
    <symbol viewBox="0 0 58 58" id="money">
        <path d="M32,0c-1.021,0-2.026,0.076-3.015,0.21C27.953,0.072,26.972,0,26,0c-4.883,0-9.449,1.572-13.33,4.29
    c-0.001,0.001-0.003,0.002-0.004,0.003c-1.968,1.379-3.758,3.055-5.326,4.97C7.293,9.306,7.258,9.356,7.22,9.407
    c-1.484,1.838-2.76,3.896-3.791,6.122c-0.028,0.05-0.051,0.1-0.07,0.155c-0.71,1.556-1.303,3.191-1.759,4.895
    c-0.045,0.096-0.065,0.201-0.078,0.311C0.861,23.465,0.5,26.185,0.5,29c0,4.403,0.871,8.577,2.422,12.319
    C2.936,41.361,2.95,41.4,2.97,41.439c0.928,2.214,2.097,4.273,3.466,6.136c0.037,0.051,0.067,0.105,0.113,0.148
    c1.389,1.864,2.982,3.524,4.738,4.94c0.051,0.057,0.113,0.099,0.176,0.143C15.59,56.076,20.6,58,26,58
    c0.972,0,1.953-0.072,2.985-0.21C29.974,57.924,30.979,58,32,58c14.061,0,25.5-13.009,25.5-29S46.061,0,32,0z M21.419,2.625
    c-0.318,0.166-0.632,0.338-0.943,0.518c-0.189,0.109-0.38,0.216-0.566,0.33C19.636,3.642,19.368,3.82,19.1,4h-1.926
    c1.462-0.684,2.988-1.224,4.579-1.559C21.64,2.498,21.532,2.566,21.419,2.625z M11.36,46H7.773c-0.882-1.246-1.665-2.585-2.345-4
    h3.788c0.157,0.355,0.319,0.706,0.488,1.052c0.072,0.148,0.148,0.293,0.222,0.439c0.206,0.404,0.42,0.801,0.642,1.192
    c0.081,0.144,0.16,0.289,0.243,0.431C10.988,45.415,11.173,45.708,11.36,46z M4.968,17h3.827c-0.176,0.438-0.342,0.881-0.498,1.329
    c-0.043,0.123-0.086,0.245-0.128,0.368C8.024,19.127,7.89,19.561,7.763,20H3.857C4.175,18.969,4.547,17.969,4.968,17z M2.5,29
    c0-0.674,0.036-1.338,0.078-2h3.987c-0.001,0.016-0.001,0.032-0.002,0.048C6.526,27.694,6.5,28.343,6.5,29
    c0,0.335,0.012,0.667,0.022,1H2.539C2.528,29.666,2.5,29.337,2.5,29z M6.636,32c0.038,0.421,0.087,0.839,0.141,1.255
    c0.004,0.03,0.006,0.061,0.01,0.092C6.861,33.903,6.951,34.454,7.052,35H3.108c-0.195-0.982-0.349-1.981-0.448-3H6.636z M7.256,22
    c-0.026,0.119-0.048,0.239-0.073,0.358c-0.027,0.131-0.054,0.261-0.08,0.392c-0.122,0.628-0.231,1.261-0.316,1.903
    c-0.004,0.03-0.006,0.061-0.01,0.092C6.766,24.83,6.759,24.915,6.748,25H2.779c0.132-1.018,0.299-2.022,0.528-3H7.256z M7.495,37
    c0.031,0.123,0.06,0.247,0.093,0.37c0.011,0.043,0.021,0.087,0.033,0.13c0.165,0.61,0.35,1.21,0.549,1.802
    c0.041,0.123,0.085,0.245,0.128,0.368c0.038,0.11,0.075,0.22,0.114,0.329H4.558c-0.379-0.971-0.705-1.973-0.983-3H7.495z
     M10.811,12.885c-0.083,0.142-0.162,0.287-0.243,0.431c-0.222,0.391-0.436,0.789-0.642,1.192c-0.074,0.146-0.15,0.291-0.222,0.439
    C9.695,14.965,9.686,14.982,9.678,15H5.929c0.757-1.427,1.629-2.762,2.596-4h3.503c-0.122,0.175-0.245,0.348-0.363,0.526
    C11.37,11.969,11.084,12.422,10.811,12.885z M13.731,6h2.763C16.247,6.216,16,6.434,15.759,6.66
    c-0.203,0.192-0.4,0.391-0.598,0.589c-0.196,0.197-0.39,0.396-0.58,0.6c-0.186,0.199-0.373,0.396-0.554,0.6
    C13.868,8.629,13.716,8.815,13.561,9h-3.302C11.333,7.883,12.492,6.876,13.731,6z M9.324,48h3.432
    c0.113,0.148,0.225,0.297,0.341,0.442c0.302,0.379,0.612,0.749,0.931,1.109c0.181,0.205,0.367,0.402,0.554,0.6
    c0.191,0.203,0.384,0.403,0.58,0.6c0.081,0.082,0.159,0.169,0.241,0.249h-3.008C11.297,50.101,10.27,49.097,9.324,48z
     M21.753,55.559c-2.293-0.483-4.46-1.369-6.47-2.559h2.419c0.125,0.096,0.253,0.187,0.379,0.281
    c0.213,0.158,0.424,0.317,0.641,0.468c0.389,0.271,0.785,0.531,1.187,0.778c0.187,0.115,0.377,0.221,0.566,0.33
    c0.311,0.18,0.625,0.353,0.943,0.518C21.532,55.434,21.64,55.502,21.753,55.559z M32,56c-0.794,0-1.579-0.047-2.354-0.136
    l-0.397-0.055c-0.049-0.007-0.098-0.015-0.147-0.021c-0.348-0.049-0.693-0.107-1.036-0.173c-0.025-0.005-0.049-0.01-0.074-0.015
    c-0.335-0.066-0.667-0.139-0.996-0.221c-0.044-0.011-0.087-0.023-0.13-0.035c-0.309-0.079-0.616-0.163-0.92-0.256
    c-0.082-0.025-0.162-0.054-0.243-0.08c-0.265-0.084-0.529-0.17-0.789-0.265c-0.185-0.067-0.367-0.142-0.549-0.214
    c-0.156-0.061-0.313-0.119-0.467-0.184c-5.376-2.276-9.834-6.748-12.546-12.464c-0.024-0.052-0.047-0.104-0.071-0.156
    c-0.146-0.312-0.288-0.628-0.423-0.948c-0.053-0.125-0.102-0.252-0.153-0.378c-0.102-0.25-0.202-0.501-0.298-0.755
    c-0.06-0.161-0.117-0.324-0.175-0.487c-0.079-0.223-0.157-0.447-0.232-0.674c-0.06-0.183-0.117-0.367-0.173-0.552
    c-0.065-0.212-0.128-0.425-0.189-0.64c-0.055-0.195-0.107-0.391-0.158-0.587c-0.055-0.21-0.107-0.422-0.157-0.635
    c-0.048-0.201-0.094-0.403-0.137-0.607c-0.046-0.213-0.088-0.428-0.129-0.643c-0.039-0.204-0.078-0.409-0.113-0.614
    c-0.038-0.222-0.071-0.446-0.104-0.671c-0.03-0.201-0.06-0.401-0.086-0.604c-0.031-0.24-0.055-0.483-0.08-0.725
    c-0.02-0.189-0.042-0.377-0.058-0.567c-0.024-0.278-0.04-0.558-0.056-0.839c-0.009-0.158-0.022-0.314-0.029-0.472
    C8.511,29.889,8.5,29.446,8.5,29s0.011-0.889,0.029-1.33c0.007-0.158,0.02-0.315,0.029-0.472c0.016-0.28,0.032-0.561,0.056-0.839
    c0.016-0.19,0.038-0.378,0.058-0.567c0.025-0.242,0.05-0.485,0.08-0.725c0.026-0.202,0.057-0.403,0.086-0.604
    c0.033-0.224,0.067-0.448,0.104-0.671c0.035-0.206,0.074-0.41,0.113-0.614c0.041-0.215,0.084-0.43,0.129-0.643
    c0.044-0.203,0.09-0.405,0.137-0.607c0.05-0.213,0.103-0.424,0.157-0.635c0.051-0.197,0.103-0.392,0.158-0.587
    c0.06-0.215,0.124-0.428,0.189-0.64C9.884,19.884,9.94,19.699,10,19.517c0.074-0.226,0.152-0.45,0.232-0.674
    c0.058-0.163,0.114-0.326,0.175-0.487c0.095-0.254,0.196-0.505,0.298-0.755c0.051-0.126,0.1-0.253,0.153-0.378
    c0.135-0.32,0.277-0.635,0.423-0.948c0.024-0.052,0.046-0.105,0.071-0.156c2.712-5.717,7.171-10.189,12.546-12.464
    c0.154-0.065,0.311-0.122,0.467-0.184c0.183-0.072,0.365-0.147,0.549-0.214c0.261-0.094,0.525-0.181,0.789-0.265
    c0.081-0.026,0.162-0.055,0.243-0.08c0.304-0.093,0.611-0.177,0.92-0.256c0.044-0.011,0.087-0.024,0.13-0.035
    c0.329-0.082,0.661-0.155,0.996-0.221c0.025-0.005,0.049-0.01,0.074-0.015c0.343-0.066,0.688-0.124,1.036-0.173
    c0.049-0.007,0.098-0.015,0.147-0.021l0.397-0.055C30.421,2.047,31.206,2,32,2c12.958,0,23.5,12.112,23.5,27S44.958,56,32,56z"></path>
        <path d="M32,8.476c0.606,0,1.219,0.036,1.818,0.105c0.04,0.005,0.079,0.007,0.117,0.007c0.501,0,0.933-0.375,0.992-0.884
    c0.064-0.548-0.329-1.045-0.877-1.109c-0.673-0.079-1.358-0.119-2.068-0.119c-0.004,0-0.008,0-0.012,0l-0.013,1v-1
    c-0.553,0-0.979,0.447-0.979,1C30.979,8.029,31.447,8.476,32,8.476z"></path>
        <path d="M24.329,10.337c0.152,0,0.308-0.035,0.453-0.109c0.558-0.284,1.133-0.538,1.709-0.753c0.517-0.193,0.779-0.77,0.586-1.287
    c-0.193-0.518-0.767-0.781-1.287-0.586c-0.646,0.242-1.291,0.526-1.916,0.845c-0.492,0.25-0.688,0.853-0.437,1.345
    C23.614,10.138,23.965,10.337,24.329,10.337z"></path>
        <path d="M49.135,23.292c0.113,0.454,0.521,0.757,0.969,0.757c0.081,0,0.162-0.01,0.244-0.03c0.536-0.135,0.861-0.678,0.727-1.213
    c-0.167-0.665-0.364-1.332-0.587-1.982c-0.18-0.522-0.748-0.801-1.271-0.621c-0.522,0.179-0.801,0.748-0.622,1.271
    C48.8,22.07,48.981,22.682,49.135,23.292z"></path>
        <path d="M47.731,15.277c-0.387-0.571-0.805-1.13-1.242-1.662c-0.352-0.426-0.98-0.487-1.408-0.137
    c-0.426,0.351-0.487,0.981-0.137,1.408c0.398,0.484,0.779,0.993,1.131,1.513c0.193,0.286,0.509,0.439,0.829,0.439
    c0.193,0,0.388-0.056,0.56-0.172C47.921,16.355,48.041,15.734,47.731,15.277z"></path>
        <path d="M32,49.524c-0.621,0-1.247-0.037-1.857-0.11c-0.561-0.056-1.047,0.327-1.112,0.875c-0.065,0.548,0.326,1.046,0.874,1.112
    c0.69,0.082,1.396,0.124,2.096,0.124h0.084c0.553,0,0.958-0.448,0.958-1S32.553,49.524,32,49.524z"></path>
        <path d="M45.021,43.02c-0.397,0.488-0.82,0.96-1.259,1.404c-0.388,0.393-0.384,1.026,0.01,1.414
    c0.194,0.192,0.448,0.289,0.702,0.289c0.258,0,0.516-0.099,0.712-0.297c0.482-0.489,0.948-1.009,1.386-1.546
    c0.349-0.429,0.284-1.059-0.145-1.407S45.37,42.593,45.021,43.02z"></path>
        <path d="M39.252,47.754c-0.555,0.285-1.129,0.54-1.706,0.757c-0.517,0.194-0.778,0.771-0.583,1.288
    c0.15,0.401,0.531,0.648,0.936,0.648c0.117,0,0.236-0.021,0.353-0.065c0.648-0.244,1.293-0.53,1.915-0.849
    c0.491-0.252,0.685-0.855,0.433-1.346C40.348,47.696,39.745,47.5,39.252,47.754z"></path>
        <path d="M41.857,9.45c-0.585-0.382-1.194-0.733-1.812-1.044c-0.494-0.249-1.095-0.05-1.343,0.443
    c-0.249,0.493-0.051,1.095,0.442,1.343c0.552,0.278,1.097,0.592,1.62,0.933c0.168,0.11,0.357,0.163,0.545,0.163
    c0.326,0,0.646-0.16,0.839-0.454C42.451,10.372,42.32,9.752,41.857,9.45z"></path>
        <path d="M50.833,27.968c-0.553,0-1,0.479-1,1.032c0,0.618-0.023,1.236-0.07,1.839c-0.043,0.551,0.369,1.032,0.92,1.074
    c0.026,0.002,0.053,0.003,0.078,0.003c0.518,0,0.955-0.398,0.996-0.923c0.051-0.654,0.076-1.325,0.076-1.994v-0.064
    C51.833,28.384,51.386,27.968,50.833,27.968z"></path>
        <path d="M14.167,29c0-0.623,0.025-1.256,0.074-1.88c0.043-0.551-0.368-1.032-0.919-1.076c-0.544-0.036-1.032,0.368-1.075,0.918
    c-0.053,0.676-0.08,1.362-0.08,2.037v0.021c0,0.552,0.447,0.989,1,0.989S14.167,29.552,14.167,29z"></path>
        <path d="M49.901,35.783c-0.522-0.175-1.09,0.105-1.267,0.628c-0.202,0.598-0.432,1.193-0.683,1.77
    c-0.221,0.506,0.012,1.096,0.518,1.316c0.13,0.057,0.266,0.083,0.398,0.083c0.387,0,0.754-0.225,0.918-0.601
    c0.273-0.629,0.523-1.278,0.743-1.93C50.706,36.527,50.425,35.96,49.901,35.783z"></path>
        <path d="M15.55,18.465c-0.51-0.226-1.096,0.008-1.317,0.514c-0.274,0.626-0.526,1.275-0.748,1.929
    c-0.177,0.523,0.104,1.091,0.626,1.269c0.106,0.036,0.215,0.053,0.321,0.053c0.417,0,0.806-0.263,0.947-0.679
    c0.203-0.6,0.434-1.195,0.686-1.768C16.286,19.277,16.056,18.687,15.55,18.465z"></path>
        <path d="M17.902,41.567c-0.31-0.458-0.93-0.578-1.389-0.269c-0.457,0.31-0.577,0.931-0.268,1.389
    c0.392,0.579,0.808,1.139,1.238,1.664c0.198,0.241,0.484,0.366,0.774,0.366c0.223,0,0.447-0.074,0.633-0.227
    c0.428-0.351,0.489-0.98,0.14-1.408C18.64,42.605,18.26,42.095,17.902,41.567z"></path>
        <path d="M14.855,34.668c-0.134-0.536-0.679-0.863-1.212-0.729c-0.536,0.133-0.862,0.676-0.729,1.212
    c0.166,0.666,0.363,1.333,0.585,1.983c0.142,0.416,0.53,0.677,0.946,0.677c0.107,0,0.216-0.018,0.323-0.054
    c0.522-0.179,0.802-0.747,0.623-1.27C15.187,35.892,15.008,35.28,14.855,34.668z"></path>
        <path d="M18.846,12.14c-0.482,0.486-0.95,1.006-1.39,1.544c-0.35,0.428-0.286,1.058,0.142,1.407
    c0.186,0.152,0.41,0.226,0.632,0.226c0.29,0,0.578-0.125,0.775-0.367c0.399-0.489,0.823-0.96,1.261-1.401
    c0.389-0.392,0.387-1.025-0.006-1.414C19.868,11.746,19.235,11.747,18.846,12.14z"></path>
        <path d="M24.818,47.791c-0.552-0.28-1.097-0.596-1.618-0.938c-0.462-0.303-1.081-0.172-1.385,0.289
    c-0.302,0.462-0.173,1.082,0.289,1.384c0.583,0.382,1.191,0.734,1.81,1.048c0.145,0.074,0.299,0.108,0.451,0.108
    c0.365,0,0.717-0.2,0.893-0.547C25.508,48.643,25.312,48.041,24.818,47.791z"></path>
        <path d="M37.896,28.805c-1.01-0.5-2.146-0.916-3.375-1.236c-0.71-0.186-1.219-0.319-1.526-0.401v-8.936
    c0.454,0.09,0.886,0.223,1.291,0.396c1.654,0.677,2.625,1.645,3.739,2.877v2.082c0,0.6,0.387,0.987,0.987,0.987
    S40,24.187,40,23.587v-6.169c0-0.6-0.388-0.987-0.987-0.987s-0.987,0.388-0.987,0.987l0,1.315
    c-0.229-0.179-0.075-0.385-0.402-0.618c-1.259-0.902-2.814-1.529-4.629-1.866V14.82c0-0.6-0.387-0.987-0.987-0.987
    s-0.987,0.388-0.987,0.987v1.289c-2.561,0.043-4.482,0.631-5.713,1.75c-1.293,1.177-1.949,2.765-1.949,4.721
    c0,1.037,0.301,1.968,0.894,2.766c0.576,0.776,1.401,1.433,2.453,1.952c0.951,0.471,2.401,0.978,4.316,1.509v9.564
    c-0.52-0.089-1-0.216-1.432-0.38c-1.771-0.676-2.56-1.095-3.615-2.241v-2.243c0-0.6-0.388-0.987-0.987-0.987S24,32.907,24,33.507
    v6.169c0,0.6,0.387,0.987,0.987,0.987s0.987-0.388,0.987-0.987v-1.316c1.727,1.385,2.996,1.723,5.047,2.005v1.405
    c0,0.6,0.388,0.987,0.987,0.987s0.987-0.388,0.987-0.987v-1.287c2.586-0.031,4.611-0.649,6.023-1.837
    c1.476-1.24,2.224-2.932,2.224-5.025c0-1.101-0.301-2.063-0.894-2.863C39.772,29.981,38.947,29.325,37.896,28.805z M31.021,26.617
    c-0.344-0.102-0.722-0.212-1.132-0.329c-0.656-0.188-1.365-0.452-2.107-0.787c-0.696-0.313-1.292-0.76-1.771-1.328
    c-0.456-0.539-0.677-1.155-0.677-1.885c0-1.179,0.463-2.148,1.416-2.965c0.916-0.784,2.352-1.2,4.272-1.24V26.617z M38.375,37.88
    c-0.017,0.014-0.038,0.024-0.055,0.037c0.145-0.118,0.285-0.24,0.414-0.367C38.622,37.664,38.502,37.773,38.375,37.88z
     M37.654,37.175c-1.068,0.856-2.635,1.305-4.658,1.334v-9.165l1.574,0.439c0.75,0.209,1.507,0.484,2.25,0.818
    c0.696,0.313,1.292,0.761,1.771,1.327c0.456,0.541,0.678,1.157,0.678,1.886C39.269,35.204,38.74,36.304,37.654,37.175z"></path>
    </symbol>
    <symbol viewBox="0 0 491.1 491.1" id="shipp">
        <path transform="translate(0 -540.36)" d="M401.5,863.31c-12,0-23.4,4.7-32,13.2c-8.6,8.6-13.4,19.8-13.4,31.8s4.7,23.2,13.4,31.8
  c8.7,8.5,20,13.2,32,13.2c24.6,0,44.6-20.2,44.6-45S426.1,863.31,401.5,863.31z M401.5,933.31c-13.8,0-25.4-11.4-25.4-25
  s11.6-25,25.4-25c13.6,0,24.6,11.2,24.6,25S415.1,933.31,401.5,933.31z M413.1,713.41c-1.8-1.7-4.2-2.6-6.7-2.6h-51.3
  c-5.5,0-10,4.5-10,10v82c0,5.5,4.5,10,10,10h81.4c5.5,0,10-4.5,10-10v-54.9c0-2.8-1.2-5.5-3.3-7.4L413.1,713.41z M426.5,792.81
  h-61.4v-62.1h37.4l24,21.6V792.81z M157.3,863.31c-12,0-23.4,4.7-32,13.2c-8.6,8.6-13.4,19.8-13.4,31.8s4.7,23.2,13.4,31.8
  c8.7,8.5,20,13.2,32,13.2c24.6,0,44.6-20.2,44.6-45S181.9,863.31,157.3,863.31z M157.3,933.31c-13.8,0-25.4-11.4-25.4-25
  s11.6-25,25.4-25c13.6,0,24.6,11.2,24.6,25S170.9,933.31,157.3,933.31z M90.6,875.61H70.5v-26.6c0-5.5-4.5-10-10-10s-10,4.5-10,10
  v36.6c0,5.5,4.5,10,10,10h30.1c5.5,0,10-4.5,10-10S96.1,875.61,90.6,875.61z M141.3,821.11c0-5.5-4.5-10-10-10H10
  c-5.5,0-10,4.5-10,10s4.5,10,10,10h121.3C136.8,831.11,141.3,826.71,141.3,821.11z M30.3,785.01l121.3,0.7c5.5,0,10-4.4,10.1-9.9
  c0.1-5.6-4.4-10.1-9.9-10.1l-121.3-0.7c-0.1,0-0.1,0-0.1,0c-5.5,0-10,4.4-10,9.9C20.3,780.51,24.8,785.01,30.3,785.01z M50.7,739.61
  H172c5.5,0,10-4.5,10-10s-4.5-10-10-10H50.7c-5.5,0-10,4.5-10,10S45.2,739.61,50.7,739.61z M487.4,726.11L487.4,726.11l-71.6-59.3
  c-1.8-1.5-4-2.3-6.4-2.3h-84.2v-36c0-5.5-4.5-10-10-10H60.5c-5.5,0-10,4.5-10,10v73.2c0,5.5,4.5,10,10,10s10-4.5,10-10v-63.2h234.8
  v237.1h-82c-5.5,0-10,4.5-10,10s4.5,10,10,10h122.1c5.5,0,10-4.5,10-10s-4.5-10-10-10h-20.1v-191.1h80.6l65.2,54l-0.7,136.9H460
  c-5.5,0-10,4.5-10,10s4.5,10,10,10h20.3c5.5,0,10-4.4,10-9.9l0.8-151.6C491,730.91,489.7,728.01,487.4,726.11z"></path>
    </symbol>
    <symbol viewBox="0 0 512 512" id="win">
        <path d="m393.2,105.9c9.3-10 15.1-23.6 15.1-38.6 0-31.3-25-56.3-55.3-56.3-23,0-76,34.4-97.2,65.3-21.9-30.9-74.7-64.3-96.8-64.3-30.2,0-55.3,25-55.3,56.3 0,14.5 5.4,27.6 14.1,37.5h-106.8v134.5h29.2v260.7h153.3 125.1 153.3v-260.6h29.1v-134.5h-107.8zm-40.2-74c18.8-7.10543e-15 34.4,15.6 34.4,36.5 0,17.6-12.3,32.7-28.2,35.9h-84.6c-5.4-1.6-7.1-3.5-7.1-4.6 0-17.8 62.5-67.8 85.5-67.8zm-194-0c21.9,0 85.5,50 85.5,67.8 0,1.6-3.7,3.4-6.4,4.6h-85.2c-15.9-3.2-28.2-18.3-28.2-35.9-0.1-19.9 15.6-36.5 34.3-36.5zm34.4,448.2h-132.4v-239.7h132.4v239.7zm0-259.5h-161.5v-93.8h161.6v93.8zm104.2,259.5h-83.4v-353.4h83.4v353.4zm153.3,0h-132.4v-239.7h132.4v239.7zm29.1-259.5h-161.5v-93.8h161.6v93.8z"></path>
    </symbol>
    <symbol id="quote" viewBox="0 0 512 512">
        <path d="M477.626,230.931c-21.458-21.851-49.904-34.501-80.375-35.812C397.107,193.215,397,190.591,397,187
      c0-14.712,11.188-59.665,18.241-84.544L422.458,77h-87.584l-5.867,9.453C326.68,90.203,272,179.852,272,315
      c0,66.168,53.832,120,120,120s120-53.832,120-120C512,283.359,499.792,253.503,477.626,230.931z M392,395
      c-44.112,0-80-35.888-80-80c0-99.32,32.836-172.834,45.812-198h12.129C364.194,139.584,357,171.041,357,187
      c0,12.664,0.94,22.838,5.531,31.33c4.089,7.564,12.641,16.573,30.183,16.669l0.873,0.022C436.824,235.859,472,271.737,472,315
      C472,359.112,436.112,395,392,395z"></path>
        <path d="M205.626,230.931c-21.458-21.851-49.904-34.501-80.375-35.812C125.107,193.215,125,190.591,125,187
      c0-14.712,11.188-59.665,18.241-84.544L150.458,77H62.874l-5.867,9.453C54.68,90.203,0,179.852,0,315c0,66.168,53.832,120,120,120
      s120-53.832,120-120C240,283.359,227.792,253.503,205.626,230.931z M120,395c-44.112,0-80-35.888-80-80
      c0-99.32,32.836-172.834,45.812-198h12.129C92.194,139.584,85,171.041,85,187c0,12.664,0.94,22.838,5.531,31.33
      c4.089,7.564,12.641,16.573,30.183,16.669l0.873,0.022C164.824,235.859,200,271.737,200,315C200,359.112,164.112,395,120,395z"></path>
    </symbol>
    <symbol viewBox="0 0 563.43 563.43" id="huser">
        <path d="M280.79,314.559c83.266,0,150.803-67.538,150.803-150.803S364.055,13.415,280.79,13.415S129.987,80.953,129.987,163.756
  S197.524,314.559,280.79,314.559z M280.79,52.735c61.061,0,111.021,49.959,111.021,111.021S341.851,274.776,280.79,274.776
  s-111.021-49.959-111.021-111.021S219.728,52.735,280.79,52.735z"></path>
        <path d="M19.891,550.015h523.648c11.102,0,19.891-8.789,19.891-19.891c0-104.082-84.653-189.198-189.198-189.198H189.198
  C85.116,340.926,0,425.579,0,530.124C0,541.226,8.789,550.015,19.891,550.015z M189.198,380.708h185.034
  c75.864,0,138.313,56.436,148.028,129.524H41.17C50.884,437.607,113.334,380.708,189.198,380.708z"></path>
    </symbol>
    <symbol id="hcart" viewBox="0 0 459.529 459.529">
        <path d="M17,55.231h48.733l69.417,251.033c1.983,7.367,8.783,12.467,16.433,12.467h213.35c6.8,0,12.75-3.967,15.583-10.2
      l77.633-178.5c2.267-5.383,1.7-11.333-1.417-16.15c-3.117-4.817-8.5-7.65-14.167-7.65H206.833c-9.35,0-17,7.65-17,17
      s7.65,17,17,17H416.5l-62.9,144.5H164.333L94.917,33.698c-1.983-7.367-8.783-12.467-16.433-12.467H17c-9.35,0-17,7.65-17,17
      S7.65,55.231,17,55.231z"></path>
        <path d="M135.433,438.298c21.25,0,38.533-17.283,38.533-38.533s-17.283-38.533-38.533-38.533S96.9,378.514,96.9,399.764
      S114.183,438.298,135.433,438.298z"></path>
        <path d="M376.267,438.298c0.85,0,1.983,0,2.833,0c10.2-0.85,19.55-5.383,26.35-13.317c6.8-7.65,9.917-17.567,9.35-28.05
      c-1.417-20.967-19.833-37.117-41.083-35.7c-21.25,1.417-37.117,20.117-35.7,41.083
      C339.433,422.431,356.15,438.298,376.267,438.298z"></path>
    </symbol>
    <symbol id="send" viewBox="0 0 385.707 385.707">
        <path d="M382.83,17.991c-2.4-2-5.6-2.4-8.4-1.2l-365.2,160c-6,2.4-9.6,8.4-9.2,15.2c0.4,6.8,4.4,12.4,10.8,14.8l106.8,35.2v96
        c0,8.8,5.6,16.4,14,18.8c8.4,2.8,17.6-0.4,22.8-7.6l44.8-64.8l94.8,81.6c2.8,2.4,6.4,3.6,10.4,3.6c2,0,3.6-0.4,5.2-0.8
        c5.6-2,9.6-6.4,10.4-12l65.6-330.8C386.03,23.191,384.83,19.991,382.83,17.991z M191.23,267.591l-50,72.4c-1.6,2.4-3.6,2-4.8,1.6
        c-0.8,0-2.8-1.2-2.8-3.6v-101.6c0-3.6-2-6.4-5.6-7.6l-112.4-37.6l324.8-142l-160,131.6c-3.6,2.8-4,8-1.2,11.2c1.6,2,4,2.8,6,2.8
        c1.6,0,3.6-0.4,5.2-2l138.8-114L191.23,267.591z M304.43,353.591l-96-82.4l153.6-209.6L304.43,353.591z"></path>
        <path d="M158.83,198.391l-12.8,10.4c-3.6,2.8-4,8-1.2,11.2c1.6,2,4,2.8,6.4,2.8c1.6,0,3.6-0.4,5.2-1.6l12.8-10.4
        c3.6-2.8,4-8,1.2-11.2C167.63,196.391,162.43,195.991,158.83,198.391z"></path>
    </symbol>
    <symbol id="add" viewBox="0 0 512 512">
        <path d="M506.555,208.064L263.859,30.367c-4.68-3.426-11.038-3.426-15.716,0L5.445,208.064
      c-5.928,4.341-7.216,12.665-2.875,18.593s12.666,7.214,18.593,2.875L256,57.588l234.837,171.943c2.368,1.735,5.12,2.57,7.848,2.57
      c4.096,0,8.138-1.885,10.744-5.445C513.771,220.729,512.483,212.405,506.555,208.064z"></path>
        <path d="M442.246,232.543c-7.346,0-13.303,5.956-13.303,13.303v211.749H322.521V342.009c0-36.68-29.842-66.52-66.52-66.52
        s-66.52,29.842-66.52,66.52v115.587H83.058V245.847c0-7.347-5.957-13.303-13.303-13.303s-13.303,5.956-13.303,13.303v225.053
        c0,7.347,5.957,13.303,13.303,13.303h133.029c6.996,0,12.721-5.405,13.251-12.267c0.032-0.311,0.052-0.651,0.052-1.036v-128.89
        c0-22.009,17.905-39.914,39.914-39.914s39.914,17.906,39.914,39.914v128.89c0,0.383,0.02,0.717,0.052,1.024
        c0.524,6.867,6.251,12.279,13.251,12.279h133.029c7.347,0,13.303-5.956,13.303-13.303V245.847
        C455.549,238.499,449.593,232.543,442.246,232.543z"></path>
    </symbol>
    <symbol id="phone" viewBox="0 0 211.621 211.621">
        <path d="M180.948,27.722C163.07,9.844,139.299-0.001,114.017,0c-4.143,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5
        c21.276-0.001,41.279,8.284,56.324,23.329c15.046,15.045,23.331,35.049,23.33,56.326c0,4.142,3.357,7.5,7.5,7.5
        c4.142,0,7.5-3.358,7.5-7.499C208.672,69.371,198.827,45.6,180.948,27.722z"></path>
        <path d="M150.096,94.656c0,4.142,3.358,7.5,7.501,7.499c4.142,0,7.499-3.358,7.499-7.5c-0.002-28.16-22.916-51.073-51.078-51.077
        c-0.001,0,0,0-0.001,0c-4.142,0-7.499,3.357-7.5,7.499c0,4.142,3.357,7.5,7.499,7.501
        C133.909,58.581,150.094,74.765,150.096,94.656z"></path>
        <path d="M133.5,132.896c-11.432-0.592-17.256,7.91-20.049,11.994c-2.339,3.419-1.463,8.086,1.956,10.425
        c3.419,2.339,8.086,1.463,10.425-1.956c3.3-4.825,4.795-5.584,6.823-5.488c6.491,0.763,32.056,19.497,34.616,25.355
        c0.642,1.725,0.618,3.416-0.071,5.473c-2.684,7.966-7.127,13.564-12.851,16.188c-5.438,2.493-12.105,2.267-19.276-0.651
        c-26.777-10.914-50.171-26.145-69.531-45.271c-0.008-0.008-0.016-0.015-0.023-0.023c-19.086-19.341-34.289-42.705-45.185-69.441
        c-2.919-7.177-3.145-13.845-0.652-19.282c2.624-5.724,8.222-10.167,16.181-12.848c2.064-0.692,3.752-0.714,5.461-0.078
        c5.879,2.569,24.612,28.133,25.368,34.551c0.108,2.104-0.657,3.598-5.478,6.892c-3.42,2.336-4.299,7.003-1.962,10.423
        c2.336,3.42,7.002,4.298,10.423,1.962c4.086-2.79,12.586-8.598,11.996-20.069C81.021,69.07,57.713,37.339,46.576,33.244
        c-4.953-1.846-10.163-1.878-15.491-0.09C19.097,37.191,10.439,44.389,6.047,53.969c-4.26,9.294-4.125,20.077,0.395,31.189
        c11.661,28.612,27.976,53.647,48.491,74.412c0.05,0.051,0.101,0.101,0.153,0.15c20.75,20.477,45.756,36.762,74.33,48.409
        c5.722,2.327,11.357,3.492,16.746,3.492c5.074,0,9.932-1.032,14.438-3.098c9.581-4.391,16.778-13.048,20.818-25.044
        c1.784-5.318,1.755-10.526-0.077-15.456C177.232,156.856,145.501,133.548,133.5,132.896z"></path>
    </symbol>
    <symbol id="fax" viewBox="0 0 512 512">
        <rect x="125.585" y="188.377" width="144.906" height="19.321"></rect>
        <rect x="125.585" y="256" width="193.208" height="19.321"></rect>
        <rect x="125.585" y="323.623" width="193.208" height="19.321"></rect>
        <path d="M464.887,33.811H49.528C22.882,33.811,0,54.297,0,80.958v173.783c0,26.66,21.67,48.354,48.302,48.354
        c10.915,0,21.736-3.774,28.981-9.899v174.125c0,5.335,5.533,10.868,10.868,10.868h338.113c5.335,0,8.453-5.533,8.453-10.868
        V293.196c9.66,6.125,18.066,9.899,28.981,9.899c26.632,0,48.302-21.693,48.302-48.354V80.958
        C512,54.297,491.533,33.811,464.887,33.811z M415.396,254.83v204.038H96.604V254.83v-96.641c0-5.326,5.571-8.453,10.939-8.453
        h299.33c5.368,0,8.524,3.127,8.524,8.453V254.83z M492.679,254.741c0,16.009-13,29.033-28.981,29.033
        s-28.981-12.986-28.981-28.943v-96.641v-8.453h19.321v-19.321h-47.165h-299.33h-49.58v19.321h19.321v8.453v96.641
        c0,15.958-13,28.943-28.981,28.943c-15.981,0-28.981-13.024-28.981-29.033V80.958c0-16.009,14.217-27.826,30.208-27.826h415.359
        c15.991,0,27.792,11.816,27.792,27.826V254.741z"></path>
    </symbol>
    <symbol id="mail" viewBox="0 0 512.001 512.001">
        <path d="M511.646,126.634c-0.021-14.449-11.782-26.189-26.227-26.189c-0.012,0-0.024,0-0.034,0L26.19,101.076
      c-7.005,0.009-13.588,2.746-18.535,7.706C2.709,113.743-0.009,120.334,0,127.337l0.355,258.029
      c0.009,7.005,2.746,13.588,7.706,18.535c4.951,4.938,11.526,7.655,18.519,7.655c0.012,0,0.025,0,0.035,0l459.194-0.631
      c14.458-0.02,26.207-11.799,26.19-26.261L511.646,126.634z M456.611,126.71L256.02,266.154L55.04,127.262L456.611,126.71z
       M340.846,292.471l118.971,92.265l-407.972,0.56l119.696-92.825c5.722-4.439,6.764-12.675,2.326-18.399
      c-4.439-5.722-12.675-6.764-18.399-2.326L26.561,371.715l-0.32-232.475l222.344,153.657c2.244,1.551,4.849,2.325,7.455,2.325
      c2.617,0,5.236-0.783,7.485-2.346l221.912-154.264l0.336,233.066l-128.856-99.931c-5.719-4.437-13.959-3.396-18.397,2.326
      C334.081,279.795,335.122,288.033,340.846,292.471z"></path>
    </symbol>
    <symbol viewBox="0 0 512 512" id="ae">
        <path style="fill:#306FC5;" d="M512,402.281c0,16.716-13.55,30.267-30.265,30.267H30.265C13.55,432.549,0,418.997,0,402.281V109.717
  c0-16.715,13.55-30.266,30.265-30.266h451.47c16.716,0,30.265,13.551,30.265,30.266V402.281L512,402.281z"></path>
        <path style="opacity:0.15;fill:#202121;enable-background:new    ;" d="M21.517,402.281V109.717
  c0-16.715,13.552-30.266,30.267-30.266h-21.52C13.55,79.451,0,93.001,0,109.717v292.565c0,16.716,13.55,30.267,30.265,30.267h21.52
  C35.07,432.549,21.517,418.997,21.517,402.281z"></path>
        <polygon style="fill:#FFFFFF;" points="74.59,220.748 89.888,220.748 82.241,201.278  "></polygon>
        <polygon style="fill:#FFFFFF;" points="155.946,286.107 155.946,295.148 181.675,295.148 181.675,304.885 155.946,304.885
    155.946,315.318 184.455,315.318 197.666,300.712 185.151,286.107   "></polygon>
        <polygon style="fill:#FFFFFF;" points="356.898,201.278 348.553,220.748 364.548,220.748  "></polygon>
        <polygon style="fill:#FFFFFF;" points="230.348,320.875 230.348,281.241 212.268,300.712  "></polygon>
        <path style="fill:#FFFFFF;" d="M264.42,292.368c-0.696-4.172-3.48-6.261-7.654-6.261h-14.599v12.516h15.299
    C261.637,298.624,264.42,296.539,264.42,292.368z"></path>
        <path style="fill:#FFFFFF;" d="M313.09,297.236c1.391-0.697,2.089-2.785,2.089-4.867c0.696-2.779-0.698-4.172-2.089-4.868
    c-1.387-0.696-3.476-0.696-5.559-0.696h-13.91v11.127h13.909C309.613,297.932,311.702,297.932,313.09,297.236z"></path>
        <path style="fill:#FFFFFF;" d="M413.217,183.198v8.344l-4.169-8.344H376.37v8.344l-4.174-8.344h-44.502
    c-7.648,0-13.909,1.392-19.469,4.173v-4.173h-31.289v0.696v3.477c-3.476-2.78-7.648-4.173-13.211-4.173h-111.95l-7.652,17.384
    l-7.647-17.384h-25.031h-10.431v8.344l-3.477-8.344h-0.696H66.942l-13.909,32.68L37.042,251.34l-0.294,0.697h0.294h35.463h0.444
    l0.252-0.697l4.174-10.428h9.039l4.172,11.125h40.326v-0.697v-7.647l3.479,8.343h20.163l3.475-8.343v7.647v0.697h15.993h79.965
    h0.696v-18.08h1.394c1.389,0,1.389,0,1.389,2.087v15.297h50.065v-4.172c4.172,2.089,10.426,4.172,18.771,4.172h20.863l4.172-11.123
    h9.732l4.172,11.123h40.328v-6.952v-3.476l6.261,10.428h1.387h0.698h30.595v-68.143h-31.291l0,0H413.217z M177.501,241.609h-6.955
    h-4.171v-4.169v-34.076l-0.696,1.595v-0.019l-16.176,36.669h-0.512h-3.719h-6.017l-16.687-38.245v38.245h-23.64l-4.867-10.43
    H70.417l-4.868,10.43H53.326l20.57-48.675h17.382l19.469,46.587v-46.587h4.171h14.251l0.328,0.697h0.024l8.773,19.094l6.3,14.306
    l0.223-0.721l13.906-33.375H177.5v48.674H177.501L177.501,241.609z M225.481,203.364h-27.119v9.039h26.423v9.734h-26.423v9.738
    h27.119v10.427h-38.939v-49.367h38.939V203.364L225.481,203.364z M275.076,221.294c0.018,0.016,0.041,0.027,0.063,0.042
    c0.263,0.278,0.488,0.557,0.68,0.824c1.332,1.746,2.409,4.343,2.463,8.151c0.004,0.066,0.007,0.131,0.011,0.197
    c0,0.038,0.007,0.071,0.007,0.11c0,0.022-0.002,0.039-0.002,0.06c0.016,0.383,0.026,0.774,0.026,1.197v9.735h-10.428v-5.565
    c0-2.781,0-6.954-2.089-9.735c-0.657-0.657-1.322-1.09-2.046-1.398c-1.042-0.675-3.017-0.686-6.295-0.686h-12.52v17.384h-11.818
    v-48.675h26.425c6.254,0,10.428,0,13.906,2.086c3.407,2.046,5.465,5.439,5.543,10.812c-0.161,7.4-4.911,11.46-8.326,12.829
    C270.676,218.662,272.996,219.129,275.076,221.294z M298.491,241.609h-11.822v-48.675h11.822V241.609z M434.083,241.609h-15.3
    l-22.25-36.855v30.595l-0.073-0.072v6.362h-11.747v-0.029h-11.822l-4.172-10.43H344.38l-4.172,11.123h-13.211
    c-5.559,0-12.517-1.389-16.687-5.561c-4.172-4.172-6.256-9.735-6.256-18.773c0-6.953,1.389-13.911,6.256-19.472
    c3.474-4.175,9.735-5.562,17.382-5.562h11.128v10.429h-11.128c-4.172,0-6.254,0.693-9.041,2.783
    c-2.082,2.085-3.474,6.256-3.474,11.123c0,5.564,0.696,9.04,3.474,11.821c2.091,2.089,4.87,2.785,8.346,2.785h4.867l15.991-38.243
    h6.957h10.428l19.472,46.587v-2.376v-15.705v-1.389v-27.116h17.382l20.161,34.07v-34.07h11.826v47.977h0.002L434.083,241.609
    L434.083,241.609z"></path>
        <path style="fill:#FFFFFF;" d="M265.161,213.207c0.203-0.217,0.387-0.463,0.543-0.745c0.63-0.997,1.352-2.793,0.963-5.244
    c-0.016-0.225-0.057-0.433-0.105-0.634c-0.013-0.056-0.011-0.105-0.026-0.161l-0.007,0.001c-0.346-1.191-1.229-1.923-2.11-2.367
    c-1.394-0.693-3.48-0.693-5.565-0.693h-13.909v11.127h13.909c2.085,0,4.172,0,5.565-0.697c0.209-0.106,0.395-0.25,0.574-0.413
    l0.002,0.009C264.996,213.389,265.067,213.315,265.161,213.207z"></path>
        <path style="fill:#FFFFFF;" d="M475.105,311.144c0-4.867-1.389-9.736-3.474-13.212v-31.289h-0.032v-2.089c0,0-29.145,0-33.483,0
    c-4.336,0-9.598,4.171-9.598,4.171v-4.171h-31.984c-4.87,0-11.124,1.392-13.909,4.171v-4.171h-57.016v2.089v2.081
    c-4.169-3.474-11.824-4.171-15.298-4.171h-37.549v2.089v2.081c-3.476-3.474-11.824-4.171-15.998-4.171H215.05l-9.737,10.431
    l-9.04-10.431h-2.911h-4.737h-54.93v2.089v5.493v62.651h61.19l10.054-10.057l8.715,10.057h0.698h35.258h1.598h0.696h0.692v-6.953
    v-9.039h3.479c4.863,0,11.124,0,15.991-2.089v17.382v1.394h31.291v-1.394V317.4h1.387c2.089,0,2.089,0,2.089,2.086v14.6v1.394
    h94.563c6.263,0,12.517-1.394,15.993-4.175v2.781v1.394h29.902c6.254,0,12.517-0.695,16.689-3.478
    c6.402-3.841,10.437-10.64,11.037-18.749c0.028-0.24,0.063-0.48,0.085-0.721l-0.041-0.039
    C475.087,312.043,475.105,311.598,475.105,311.144z M256.076,306.973h-13.91v2.081v4.174v4.173v7.649h-22.855l-13.302-15.299
    l-0.046,0.051l-0.65-0.748l-15.297,15.996h-44.501v-48.673h45.197l12.348,13.525l2.596,2.832l0.352-0.365l14.604-15.991h36.852
    c7.152,0,15.161,1.765,18.196,9.042c0.365,1.441,0.577,3.043,0.577,4.863C276.237,304.189,266.502,306.973,256.076,306.973z
     M325.609,306.276c1.389,2.081,2.085,4.867,2.085,9.041v9.732h-11.819v-6.256c0-2.786,0-7.65-2.089-9.739
    c-1.387-2.081-4.172-2.081-8.341-2.081H292.93v18.077h-11.82v-49.369h26.421c5.559,0,10.426,0,13.909,2.084
    c3.474,2.088,6.254,5.565,6.254,11.128c0,7.647-4.865,11.819-8.343,13.212C322.829,303.49,324.914,304.885,325.609,306.276z
     M373.589,286.107h-27.122v9.04h26.424v9.737h-26.424v9.736h27.122v10.429H334.65V275.68h38.939V286.107z M402.791,325.05h-22.252
    v-10.429h22.252c2.082,0,3.476,0,4.87-1.392c0.696-0.697,1.387-2.085,1.387-3.477c0-1.394-0.691-2.778-1.387-3.475
    c-0.698-0.695-2.091-1.391-4.176-1.391c-11.126-0.696-24.337,0-24.337-15.296c0-6.954,4.172-14.604,16.689-14.604h22.945v11.819
    h-21.554c-2.085,0-3.478,0-4.87,0.696c-1.387,0.697-1.387,2.089-1.387,3.478c0,2.087,1.387,2.783,2.778,3.473
    c1.394,0.697,2.783,0.697,4.172,0.697h6.259c6.259,0,10.43,1.391,13.211,4.173c2.087,2.087,3.478,5.564,3.478,10.43
    C420.869,320.179,414.611,325.05,402.791,325.05z M462.59,320.179c-2.778,2.785-7.648,4.871-14.604,4.871H425.74v-10.429h22.245
    c2.087,0,3.481,0,4.87-1.392c0.693-0.697,1.391-2.085,1.391-3.477c0-1.394-0.698-2.778-1.391-3.475
    c-0.696-0.695-2.085-1.391-4.172-1.391c-11.122-0.696-24.337,0-24.337-15.295c0-6.609,3.781-12.579,13.106-14.352
    c1.115-0.154,2.293-0.253,3.583-0.253h22.948v11.819h-15.3h-5.561h-0.696c-2.087,0-3.476,0-4.865,0.696
    c-0.7,0.697-1.396,2.089-1.396,3.478c0,2.087,0.696,2.783,2.785,3.473c1.389,0.697,2.78,0.697,4.172,0.697h0.691h5.565
    c3.039,0,5.337,0.375,7.44,1.114c1.926,0.697,8.302,3.549,9.728,10.994c0.124,0.78,0.215,1.594,0.215,2.495
    C466.761,313.925,465.37,317.401,462.59,320.179z"></path>
    </symbol>
    <symbol viewBox="0 0 512 512" id="mc">
        <path style="fill:#5286F9;" d="M488.727,66.494H256H23.273C10.42,66.494,0,76.914,0,89.767v332.466
      c0,12.853,10.42,23.273,23.273,23.273H256h232.727c12.853,0,23.273-10.42,23.273-23.273V89.767
      C512,76.914,501.58,66.494,488.727,66.494z"></path>
        <path style="fill:#FFB655;" d="M273.776,189.773c5.115,5.86,9.57,12.31,13.236,19.242c7.427,14.041,11.655,30.026,11.655,46.986
      s-4.228,32.943-11.655,46.986c-3.666,6.932-8.121,13.38-13.236,19.24c-5.264,6.031-11.23,11.427-17.776,16.069
      c16.454,11.664,36.523,18.553,58.182,18.553c55.608,0,100.849-45.241,100.849-100.848S369.79,155.152,314.182,155.152
      c-21.659,0-41.728,6.886-58.182,18.553C262.544,178.347,268.51,183.744,273.776,189.773z"></path>
        <path style="fill:#D8143A;" d="M287.012,209.016c-3.666-6.934-8.121-13.382-13.236-19.242c-5.267-6.031-11.231-11.425-17.776-16.066
      c-16.452-11.667-36.523-18.553-58.182-18.553c-55.608,0-100.848,45.241-100.848,100.848s45.241,100.848,100.848,100.848
      c21.659,0,41.73-6.887,58.182-18.553c6.546-4.641,12.51-10.038,17.776-16.067c5.115-5.86,9.57-12.31,13.236-19.24
      c7.427-14.043,11.655-30.028,11.655-46.986C298.667,239.041,294.439,223.057,287.012,209.016z"></path>
        <path style="fill:#3D6DEB;" d="M197.818,356.851c-55.608,0-100.848-45.241-100.848-100.848s45.241-100.848,100.848-100.848
      c21.659,0,41.728,6.886,58.182,18.553V66.494H23.273C10.42,66.494,0,76.914,0,89.767v332.466c0,12.853,10.42,23.273,23.273,23.273
      H256v-107.21C239.546,349.962,219.477,356.851,197.818,356.851z"></path>
    </symbol>
    <symbol viewBox="0 0 512 512" id="dis">
        <path style="fill:#34495E;" d="M512,402.282c0,16.716-13.55,30.267-30.265,30.267H30.265C13.55,432.549,0,418.996,0,402.282V109.717
  c0-16.716,13.55-30.266,30.265-30.266h451.469c16.716,0,30.265,13.551,30.265,30.266L512,402.282L512,402.282z"></path>
        <path style="opacity:0.15;fill:#202121;enable-background:new    ;" d="M21.517,402.282V109.717
  c0-16.716,13.552-30.266,30.267-30.266h-21.52C13.55,79.451,0,93.003,0,109.717v292.565c0,16.716,13.55,30.267,30.265,30.267h21.52
  C35.07,432.549,21.517,418.996,21.517,402.282z"></path>
        <path style="fill:#F26E21;" d="M309.389,255.801c0.041-9.636-3.572-19.286-10.843-26.558c-7.287-7.287-16.961-10.897-26.617-10.839
  c-0.046,0-0.091-0.003-0.139-0.003c-20.968,0-37.6,16.628-37.6,37.602c0,20.767,16.837,37.599,37.6,37.599
  c20.974,0,37.604-16.631,37.604-37.599C309.394,255.934,309.389,255.869,309.389,255.801z"></path>
        <g>
            <path style="fill:#E7E8E3;" d="M227.198,271.909c-5.62,5.626-10.807,7.824-16.394,7.943c-13.611-0.122-23.618-10.202-23.618-24.573
    c0-7.234,2.739-13.163,7.078-18.228l0,0c4.069-3.863,9.311-6.359,15.339-6.359c6.507,0,11.571,2.169,17.352,7.954v-16.631
    c-5.78-2.891-10.846-4.338-17.352-4.338c-9.192,0.657-17.859,4.371-24.507,10.203l0,0c-1.916,1.724-3.752,3.627-5.309,5.805
    c-4.856,6.294-7.791,14.001-7.791,22.32c0,20.967,16.637,36.875,37.606,36.875c0.102,0,0.203-0.009,0.302-0.01
    c0.141,0.002,0.28,0.01,0.42,0.01c5.784,0,10.85-1.443,17.357-4.336L227.198,271.909c-0.244,0.244,0.242,0.471,0,0.702V271.909z"></path>
            <polygon style="fill:#E7E8E3;" points="356.863,228.033 356.863,228.033 340.487,268.295 321.685,220.566 306.502,220.566
    336.148,293.601 344.102,293.601 375.196,220.566 360.013,220.566   "></polygon>
            <polygon style="fill:#E7E8E3;" points="380.983,252.384 380.983,291.435 420.033,291.435 420.753,291.435 420.753,279.861
    408.461,279.861 395.445,279.861 395.445,266.848 395.445,260.342 420.033,260.342 420.033,248.045 395.445,248.045 
    395.445,232.861 420.753,232.861 420.753,220.566 380.983,220.566   "></polygon>
            <path style="fill:#E7E8E3;" d="M54.135,220.566H33.884v70.869h20.25c10.845,0,18.798-2.895,25.306-7.957
    c7.953-6.508,13.017-16.629,13.017-27.474C92.458,235.028,77.27,220.566,54.135,220.566z M70.765,274.08
    c-4.339,3.614-10.124,5.781-18.802,5.781h-4.339V232.86h3.615c8.678,0,14.463,1.446,18.803,5.783
    c5.061,4.336,7.955,10.848,7.955,17.358C78.72,262.509,75.828,269.737,70.765,274.08z"></path>
            <rect x="98.97" y="220.56" style="fill:#E7E8E3;" width="13.739" height="70.867"></rect>
            <path style="fill:#E7E8E3;" d="M147.415,248.045c-8.676-2.892-10.848-5.063-10.848-8.677c0-4.339,4.339-7.954,10.124-7.954
    c4.339,0,7.954,1.447,11.57,5.786l7.233-9.4c-5.787-5.064-13.015-7.953-20.97-7.953c-12.296,0-22.42,8.678-22.42,20.244
    c0,10.126,4.343,14.464,17.357,19.526c5.785,2.166,7.955,2.892,9.404,4.338c2.887,1.444,4.336,4.339,4.336,7.228
    c0,5.786-4.336,10.126-10.848,10.126c-6.514,0-12.294-3.615-15.187-9.401l-8.678,8.678c6.511,9.4,14.465,13.738,24.589,13.738
    c14.461,0,24.58-9.4,24.58-23.141C167.659,258.893,163.324,253.831,147.415,248.045z"></path>
            <path style="fill:#E7E8E3;" d="M459.804,261.783c10.843-2.166,16.63-9.4,16.63-20.244c0-13.014-9.402-20.973-25.308-20.973h-20.972
    v70.869h13.739V263.23h2.172l19.519,28.205h16.634L459.804,261.783z M448.23,253.105h-4.336v-21.691h4.336
    c8.678,0,13.742,3.614,13.742,10.85C461.972,249.492,456.909,253.105,448.23,253.105z"></path>
        </g>
    </symbol>
    <symbol viewBox="0 0 512 512" id="visa">
        <path style="fill:#FFFFFF;" d="M512,402.281c0,16.716-13.55,30.267-30.265,30.267H30.265C13.55,432.549,0,418.997,0,402.281V109.717
        c0-16.716,13.55-30.266,30.265-30.266h451.47c16.716,0,30.265,13.551,30.265,30.266V402.281L512,402.281z"></path>
        <path style="fill:#F79F1A;" d="M113.64,258.035l-12.022-57.671c-2.055-7.953-8.035-10.319-15.507-10.632H30.993l-0.491,2.635
        C73.431,202.774,101.836,227.88,113.64,258.035z"></path>
        <g>
            <polygon style="fill:#059BBF;"
                     points="241.354,190.892 205.741,190.892 183.499,321.419 219.053,321.419  "></polygon>
            <path style="fill:#059BBF;" d="M135.345,321.288l56.01-130.307h-37.691l-34.843,89.028l-3.719-13.442
          c-6.83-16.171-26.35-39.446-49.266-54.098l31.85,108.863L135.345,321.288z"></path>
            <path style="fill:#059BBF;" d="M342.931,278.75c0.132-14.819-9.383-26.122-29.887-35.458c-12.461-6.03-20.056-10.051-19.965-16.17
          c0-5.406,6.432-11.213,20.368-11.213c11.661-0.179,20.057,2.367,26.624,5.003l3.218,1.475l4.826-28.277
          c-7.059-2.637-18.094-5.451-31.895-5.451c-35.157,0-59.904,17.691-60.128,43.064c-0.224,18.763,17.692,29.216,31.181,35.469
          c13.847,6.374,18.493,10.453,18.404,16.171c-0.089,8.743-11.035,12.73-21.264,12.73c-14.25,0-21.8-1.965-33.509-6.843l-4.55-2.09
          l-4.998,29.249c8.303,3.629,23.668,6.801,39.618,6.933C318.361,323.342,342.663,305.876,342.931,278.75z"></path>
            <path style="fill:#059BBF;" d="M385.233,301.855c4.065,0,40.382,0.045,45.566,0.045c1.072,4.545,4.333,19.565,4.333,19.565h33.011
          L439.33,191.027h-27.472c-8.533,0-14.874,2.323-18.628,10.809l-52.845,119.629h37.392
          C377.774,321.465,383.848,305.386,385.233,301.855z M409.622,238.645c-0.176,0.357,2.95-7.549,4.737-12.463l2.411,11.256
          c0,0,6.792,31.182,8.22,37.704h-29.528C398.411,267.638,409.622,238.645,409.622,238.645z"></path>
            <path style="fill:#059BBF;" d="M481.735,79.451H30.265C13.55,79.451,0,93.001,0,109.717v31.412h512v-31.412
          C512,93.001,498.451,79.451,481.735,79.451z"></path>
        </g>
        <path style="fill:#F79F1A;" d="M481.735,432.549H30.265C13.55,432.549,0,418.998,0,402.283v-31.412h512v31.412
        C512,418.998,498.451,432.549,481.735,432.549z"></path>
        <path style="opacity:0.15;fill:#202121;enable-background:new    ;" d="M21.517,402.281V109.717
        c0-16.716,13.551-30.266,30.267-30.266h-21.52C13.55,79.451,0,93.001,0,109.717v292.565c0,16.716,13.55,30.267,30.265,30.267h21.52
        C35.069,432.549,21.517,418.997,21.517,402.281z"></path>
    </symbol>
</svg>
<body>
<nav id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs">

                <div class="topte"><span class="scon">Welcome To Africa's Biggest Gift Store !</span></div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 right-nav">
                <div id="top-links" class="nav pull-right">
                    <ul class="list-inline">

                        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i
                                        class="fa fa-heart-o"></i>{{ text_wishlist }}</a></li>
                        <!-- <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li> -->
                        <li class="compro"><a href="{{ compare }}" id="compare-total"><i
                                        class="fa fa-compress hidden-md-up"></i>{{ text_proco }}</a></li>
                        <li>{{ currency }}</li>
                        <li>{{ language }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 logos">
                <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive"/>
                        </a>{% else %}
                        <h1><a href="{{ home }}">{{ name }}</a></h1>
                    {% endif %}</div>
                <div class="bbb"></div>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-8 col-xs-12 searchs">{{ search }}</div>

            <div class="col-sm-3 col-md-4 col-lg-3 coll">
                <div id="top-links-n" class="nav text-xs-right">
                    <svg height="32px" width="33px">
                        <use xlink:href="#hcall"></use>
                    </svg>
                    <span class="get-n">call us :</span><span class="top-get-n">{{ telephone }}</span></div>
            </div>
        </div>
    </div>
    </div>
</header>
<div class="linkback header-top">
    <div class="container hed">
        <div class="row">
            {{ menu }}
            <div class="col-md-2 col-sm-2 col-xs-6 carts">
                <div id="account" class="dropdown acc">
                    <a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="xsuser">
                            <svg width="22px" height="22px">
                                <use xlink:href="#huser"></use>
                            </svg>
                        </div>
                        <div class="discri text-left">
                            <!-- <div class="macc">{{ text_account }}</div>
            <div class="dacc">{% if logged %}<span id="cartme">logout</span>
            {% else %}
            <span id="cartme">register</span>{% endif %}</div> -->
                        </div>
                    </a>
                    <ul class="dropdown-menu account">
                        {% if logged %}
                            <li><a href="{{ account }}"><i class="fa fa-user-circle-o"></i>{{ text_account }}</a></li>
                            <li><a href="{{ order }}"><i class="fa fa-history"></i>{{ text_order }}</a></li>
                            <li><a href="{{ transaction }}"><i class="fa fa-exchange"></i>{{ text_transaction }}</a>
                            </li>
                            <li><a href="{{ download }}"><i class="fa fa-download"></i>{{ text_download }}</a></li>
                            <li><a href="{{ logout }}"><i class="fa fa-sign-out"></i>{{ text_logout }}</a></li>
                        {% else %}
                            <li><a href="{{ register }}"><i class="fa fa-user-plus"></i>{{ text_register }}</a></li>
                            <li><a href="{{ login }}"><i class="fa fa-lock"></i>{{ text_login }}</a></li>
                        {% endif %}
                    </ul>
                </div>{{ cart }}
            </div>
        </div>
    </div>
</div>
