{{ header }}
<div id="page-preloader" class="visible">
      <div class="preloader">
          <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
          </div>
      </div>
  </div> 

<div id="common-home" class="container-fluid">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}