<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><svg width="22px" height="21px" class="nav-link"> <use xlink:href="#hsearch"></use></svg></button>
  </span>
</div>