<div class="bestba col-md-5 col-sm-5 col-xs-12">
			{% for banner in banners %}
				<div class="beffect ssub-img-banner">
				  {% if banner.link %}
				  	<a href="{{ banner.link }}">
				  		<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
				  	</a>
				  {% else %}
				  	<a href="{{ banner.link }}">
				  		<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
				  	</a>{% endif %}
				</div>
			  {% endfor %}
</div>
</div>
</div>