<div class="container">
<div class="box blog_webi next-prevb">
    <div class="hedco">
        <div class="head-t">
            <h4 class="heading-home">{{ heading_title }}</h4>
        </div>
        <div class="box-content row">
            <div class="box-product">
                <div id="blog" class="owl-carousel owl-theme">
                {% for blog in blogs %}
                <div class="product-b col-xs-12">
                    <div class="product-block">

                        {% if blog.image %}
                            <div class="blog-left">
                                <div class="webi-blog-image">
                                    <img src="{{ blog.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-responsive" />
                                    <div class="blog-post-image-hover"> </div>
                                    <div class="webi_post_hover">
                                        <div class="blog-ic">
                                         <a class="icon zoom" title="Click to view Full Image " href="{{ blog.image }}" data-lightbox="example-set"><i class="fa fa-search"></i></a>
                                        <a class="icon readmore_link" title="all blog" href="{{ all_blogs }}"><i class="fa fa-link"></i></a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="blog-right">
                            
                            
                           <h4><a href="{{ blog.href }}">{{ blog.title }}</a> </h4>
                           <div class="webi-post-author">
                                <!-- <span class="write-comment"><p class="admin">admin :</p>winter</span>  -->
                                
                               <span class="date-time">{{ blog.date_added }}</span>
                            </div>
                            <p>{{ blog.description }}</p>
                            
                           
                            <!--  <div class="read_link"> <a href="{{ blog.href }}">{{ text_read_more }}</a> </div> -->
                                <div class="view-blog">
                                    <div class="read-more">
                                        <a class="btn btn-primary" href="{{ blog.href }}">
                                            {{ text_read_more }}
                                        </a>
                                    </div>
                                </div> 
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
        <!--  <div class="buttons-see-all text-center">
            <button type="button" onclick="location='{{ all_blogs }}';" class="btn btn-primary">{{ button_all_blogs }}</button>
        </div> -->
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
    $("#blog").owlCarousel({
    itemsCustom : [
    [0, 1],
    [603, 2],
    [768, 2],
    [992, 2],
    [1200, 3],
    [1410, 3]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>
