<div class="manuf">

<div class="container">
<div class="">
  <div id="carousel{{ module }}" class="owl-carousel owl-theme carousel">
    {% for banner in banners %}
    <div class="">
      <div class="dinfos">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
    </div>
      {% endfor %}
  </div>
</div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
    $("#carousel{{ module }}").owlCarousel({
    itemsCustom : [
    [0, 2],
    [500, 4],
    [768, 5],
    [992, 5],
    [1200, 7],
    [1410, 8]
    ],
      autoPlay: 5000,
      loop: true,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : false,
      pagination:false
    });
    });
</script>