   <!--  <h3 class="heading">{{ heading_title }}</h3> -->
<div class="container">
<div class="next-prevb jd-2">
<div id="featured_category">
    <div class="hedco">
        <!-- <div class="head-t">
            <h4 class="heading-home">{{ heading_title }}</h4>
        </div> -->
     <div class="category_module next-prev row">
        <div id="cat-img" class="owl-carousel owl-theme">
            {% for category in categories %}
                {% if category.category_id == category_id %}
                    <div class="block-cat-wr col-xs-12">
                        {% if category.image_name %}
                            <img src="{{ category.image_name }}" class="img-responsive center-block" alt="">
                        {% else %}
                            <img src="image/no_image.png" class="img-responsive center-block cat-noimg" alt="">
                        {% endif %}
                            <h4 class="text-center"><a href="{{ category.href }}" class="">{{ category.name }}</a></h4>
                        </div>
                        {% else %}
                        <div class="col-xs-12 catsp">
                            <div class="catf">
                            <div class="block-cat-wr">
                                {% if category.image_name %}
                                    <a href="{{ category.href }}"><img class="img-responsive" src="{{ category.image_name }}" class="img-responsive center-block" alt=""></a>
                                    {% else %}
                                    <a href="{{ category.href }}"><img class="img-responsive" src="image/no_image.png" class="img-responsive center-block cat-noimg" alt=""></a>
                                {% endif %}
                                    
                            </div>
                                <div class="block-cat-wrd">
                                <a href="{{ category.href }}" class="cate-bg">{{ category.name }}</a>
                            </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
        </div>
    </div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
    $("#cat-img").owlCarousel({
    itemsCustom : [
    [0, 2],
    [414, 3],
    [600, 3],
    [767, 3],
    [768, 4],
    [992, 5],
    [1200, 6],
    [1480, 8]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : false,
      pagination:false
    });
    });
</script>