<div class="container">
<div id="product" class="product"> 
<div class="tab-content pro-tab">
  <div class="tab-head">
  <h1 class="pull-left hidden-sm-down float-xs-left">{{tab_titlem}}</h1>
  <ul class="nav nav-tabs text-xs-right">
      <li class="active"><a href="#tfeature" data-toggle="tab">{{heading_title}}</a></li>
      <li class="bests"><a href="#tbestseller" data-toggle="tab">{{best_title}}</a></li>
      <li class="latest"><a href="#tlatest" data-toggle="tab">{{sep_title}}</a></li>
  </ul>
</div>
  {% set temp = 0 %}
{% set setCol = 2 %}
<div class="tab-pane active" id="tfeature">

<div class="row">
<div id="feature" class="owl-theme owl-carousel">
 {% for product in products %}
  {% set temp = temp + 1 %}

        {% if temp % setCol == 1 %}
            <div class="multi-row">
        {% endif %}
  <div class="product-layout">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive center-block" /></a>
          <!-- Webiarch Images Start -->
                 {% set t = 0 %}
                  {% for more_image in product.more_images %}
                  {% for pop in more_image %}
                  {% if t == 0 %}
                    <a href="{{ product.href }}"><img src="{{ pop.popup_more }}" class="img-responsive second-img" alt="hover image"/></a>
                  {% set t = t + 1 %}
                    {% endif %}

                  {% endfor %}
                  {% endfor %}

          <!-- End -->
       <!--{% if product.price %}
          {% if product.special %}
               
          {% endif %}
      {% endif %} -->
       {% if product.price %}
          {% if product.special %}
            <h1 class="product-flag newpros"><span>sale</span></h1>
       {% endif %}
      {% endif %}
      </div>
      <div class="caption">
         <h4 class="protitle"><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <div class="cap">
        {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}
        </div>
        {% endif %}
       {% if product.price %}
        <div class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
         {#  {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} #}
        </div>
        <div class="roe"></div>
        {% endif %}
        </div>

        {# <p>{{ product.description }}</p> #}      
      
    <div class="button-group">
      <div class="absbtn">
        <div class="addtocart">
          <button class="btn-block" type="button" data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><svg width="16px" height="16px"><use xlink:href="#pcart"></use></svg>
          </button>
        </div>     
        <div class="wish">
          <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="bwish">
              <svg width="16px" height="16px"><use xlink:href="#pwish"></use></svg>{# {{ button_wishlist }} #}
          </button>
        </div>
        <div class="view">
            <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="bcom">
              <svg width="16px" height="16px"><use xlink:href="#pcom"></use></svg>{# {{ button_compare }} #}
            </button>
        </div>
        <div class="bquickv" title="quickview" data-toggle="tooltip"> </div>

      </div> 
    </div>
    </div>
  </div>
  </div>

 {% if temp % setCol == 0 %}
            </div>
        {% endif %}
  {% endfor %}
    {% if products|length % setCol != 0 %}
    <!-- <h1>hii</h1> -->
        </div>
    {% endif %}
  </div>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    $("#feature").owlCarousel({
    itemsCustom : [
    [0, 2],
    [400,2],
    [600,3],
    [830, 3],
    [992, 4],
    [1199, 4],
    [1200, 4],
    [1410, 4],
    [1411, 5]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>