<div class="container">

<div class="febanner sub-img-banner">
			{% for banner in banners %}
				<div class="beffect">
				  {% if banner.link %}
				  	<a href="{{ banner.link }}">
				  		<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
				  	</a>
				  {% else %}
				  	<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% endif %}
				</div>
			  {% endfor %}

</div>
</div>