
{% if heading_title %}
  {% endif %}
  {{ html }}
<script type="text/javascript">
    $(document).ready(function() {
    $("#testi{{ module }}").owlCarousel({
    itemsCustom : [
    [0, 1]
    ],
      autoPlay: 1000000,
      animateIn: 'fadeIn',
      animateOut: 'fadeOut',
      loop: false,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : false,
      pagination:true
    });
    });
</script>