<div class="container">
<div class="row">
<div class="imgbanner col-lg-7 col-md-7 col-sm-7 col-xs-12">
			{% for banner in banners %}
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 beffect sub-img-banner">
				  {% if banner.link %}
				  	<a href="{{ banner.link }}">
				  		<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
				  	</a>
				  {% else %}
				  	<a href="{{ banner.link }}">
				  		<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
				  	</a>
				  {% endif %}
				</div>
			  {% endfor %}
</div>
