{% set temp = 0 %}
{% set setCol = 2 %}
<div class="tab-pane row" id="tlatest">
  <div id="latest" class="owl-theme owl-carousel">
  {% for product in products %}
  {% set temp = temp + 1 %}

        {% if temp % setCol == 1 %}
            <div class="multi-row">
        {% endif %}
  <div class="product-layout col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive center-block" /></a>
          <!-- Webiarch Images Start -->
                        {% set t = 0 %}
                          {% for webi_image in product.webi_images %}
                          {% if t == 0 %}
                           <a href="{{ product.href }}"><img src="{{ webi_image.popup }}" class="img-responsive second-img" alt="hover image"/></a>
                          {% set t = t + 1 %}
                          {% endif %}
                        {% endfor %}
        <!-- Webiarch Images End -->
        {% if product.price %}
          {% if product.special %}
              <h1 class="product-flag newpros"><span>sale</span></h1>
          {% endif %}
      {% endif %}
      </div>
      <div class="caption">
         <h4 class="protitle"><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <div class="cap">
        {% if product.rating %}
          <div class="rating float-xs-left">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating float-xs-left">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}
        </div>
        {% endif %}
       {% if product.price %}
        <div class="price float-xs-right">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
         {#  {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} #}
        </div>
        {% endif %}
        </div>

        {# <p>{{ product.description }}</p> #}      
      
    <div class="button-group">
      <div class="absbtn">
        <div class="addtocart">
          <button class="btn-block" type="button" data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><svg width="16px" height="16px"><use xlink:href="#pcart"></use></svg>
          </button>
        </div>     
        <div class="wish">
          <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="bwish">
              <svg width="16px" height="16px"><use xlink:href="#pwish"></use></svg>{# {{ button_wishlist }} #}
          </button>
        </div>
        <div class="view">
            <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="bcom">
              <svg width="16px" height="16px"><use xlink:href="#pcom"></use></svg>{# {{ button_compare }} #}
            </button>
        </div>
        <div class="bquickv" title="quickview" data-toggle="tooltip"> </div>

      </div> 
    </div>
    </div>

    </div>
        </div>
         {% if temp % setCol == 0 %}
            </div>
        {% endif %}
  {% endfor %}
    {% if products|length % setCol != 0 %}
    <!-- <h1>hii</h1> -->
        </div>
    {% endif %}
</div>

</div>
</div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
    $("#latest").owlCarousel({
    itemsCustom : [
    [0, 2],
    [400,2],
    [600,3],
    [830, 3],
    [992, 4],
    [1199, 4],
    [1200, 4],
    [1440, 5]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>