<div style="padding: 0px" class="col-md-6 col-sm-7 col-xs-12 fborder">
<div id="instagram_block_home" class="block">
	 
		<h5 >{{ hinstagram }}
          <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#instapaa"></button>
        </h5>
    <hr class="fhr">

	{% if error_connect == false %}
		<p class="text_error_instagram">{{ text_error }}</p>
	{% else %}
        {% set count, rows = 0, config_slide.f_rows %}
        {% if not rows %}
            {% set rows = 1 %}
        {% endif %}
        <div class="imgin col-lg-12 col-sm-12 col-xs-4">
        <div id="instapaa" class="collapse footer-collapse">
            <div id="instap" class="content_block owl-carousel owl-theme">
                
				{% for instagram in instagrams %}
                    
					{% if count % rows == 0 %}
                        <div class="row_items">
						{% if config_slide.f_view_mode != 'slider' %} <div class="row">{% endif %}
                    {% endif %}
                    {% set count = count + 1 %}
                            <a class="fancybox {% if config_slide.f_view_mode != 'slider' %} {% endif %}" href="{{ instagram.image }}" style="display: block;"><img class="img-responsive" src="{{ instagram.image }}" alt="" /></a>
                    {% if count % rows == 0 %}
						{% if config_slide.f_view_mode != 'slider' %} </div>{% endif %}
                        </div>
                    {% else %}
                        {% if count == instagrams|length %}
						
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
				
        </div>
    </div>
</div>
        {% if config_slide.f_view_mode == 'slider' %}
        <script >
            $("#instagram_block_home .content_block").owlCarousel({
                autoPlay: {% if config_slide.autoplay %} true {% else %} false {% endif %},
                navSpeed : {% if config_slide.f_speed %} {{ config_slide.f_speed }} {% else %} 3000 {% endif %},
                nav : {% if config_slide.f_show_nextback %} true {% else %} false {% endif %},
                dots : {% if config_slide.f_show_ctr %} true {% else %} false {% endif %},
                autoplayHoverPause : true,
				margin: 5,
                itemsCustom : [
                                [0, 3],
                                [376, 3],
                                [768, 3],
                                [992, 3],
                                [1199, 3],
                                [1200, 3]
                                ],
                                navigation : false,
                                pagination:false
            });
        </script>
        {% endif %}
        <script >
            $('.content_block').magnificPopup({
                type: 'image',
                delegate: 'a',
                gallery: {
                    enabled : true
                }
            });
        </script>
    {% endif %}
</div>
</div>
<div style="clear:both"></div>