<div id="footer">
    <?php if ($informations) { ?>
    <div class="column">
        <h3><?php echo $text_information; ?></h3>
        <ul>
            <?php foreach ($informations as $information) { ?>
            <li><a href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>
            <?php } ?>
        </ul>
    </div>
    <?php } ?>
    <div class="column">
        <h3><?php echo $text_service; ?></h3>
        <ul>
            <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
            <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>
            <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>
        </ul>
    </div>
    <div class="column">
        <h3><?php echo $text_extra; ?></h3>
        <ul>
            <li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>
            <li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>
            <li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>
            <li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>
        </ul>
    </div>
    <div class="column">
        <h3><?php echo $text_account; ?></h3>
        <ul>
            <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
            <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
            <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>
            <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>
        </ul>
    </div>
</div>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
<div id="powered"><?php echo $powered; ?></div>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</div>
<?php foreach ($scripts as $script) { ?>
<script type="text/javascript" src="<?php echo $script; ?>"></script>
<?php } ?>
<script type="text/javascript" src="/catalog/view/theme/electronicly/scripts/site.js"></script>
<?php echo $google_analytics; ?>
<script type="text/javascript">
    function headermenu() {
        if (jQuery(window).width() < 768)
        {
            jQuery('ul.nav li.dropdown a.header-menu').attr("data-toggle","dropdown");
        }
        else
        {
            jQuery('ul.nav li.dropdown a.header-menu').attr("data-toggle","");
        }
    }
    jQuery(document).ready(function(){
        headermenu();
    });
    jQuery(window).resize(function() {
        headermenu();
    });
    jQuery(window).scroll(function() {
        headermenu();
    });
</script>
</body>
</html>