<?php echo $header; ?>
<div id="common-home" class="container-fluid">
    <?php echo $content_top; ?>
    <div class="row">
        <div id="content" class="col-sm-12">

            <div class="sbanner s-panel">
                <div class="row slb">
                    <div class="loader wrloader"></div>
                    <div id="slideshow0" class="owl-carousel owl-theme slide">
                        <div><img src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/slider/slider-2-1920x700.jpg" alt="MacBookAir" class="img-responsive" /></div>
                        <div><a href="index.php?route=product/product&amp;path=57&amp;product_id=49"><img src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/slider/slider-1-1920x700.jpg" alt="iPhone 6" class="img-responsive" /></a></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                (function($){
                    $("#slideshow0").owlCarousel({
                        itemsCustom : [
                            [0, 1]
                        ],
                        autoPlay: 2000,
                        animateIn: 'fadeIn',
                        animateOut: 'fadeOut',
                        loop: false,
                        navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        navigation : true,
                        pagination:false
                    });
                }(jQuery));
            </script>

            <div class="container">
                <div class="row">
                    <div class="imgbanner col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 beffect sub-img-banner">
                            <a href="">
                                <img src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/imgbanner/banner-1-425x550.jpg" alt="img1" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 beffect sub-img-banner">
                            <a href="">
                                <img src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/imgbanner/banner-2-425x550.jpg" alt="img2" class="img-responsive">
                            </a>
                        </div>
                    </div>

                    <div class="bestba col-md-5 col-sm-5 col-xs-12">
                        <div class="beffect ssub-img-banner">
                            <a href="">
                                <img src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/bebanner/banner-4-620x260.jpg" alt="be2" class="img-responsive">
                            </a>				</div>
                        <div class="beffect ssub-img-banner">
                            <a href="">
                                <img src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/bebanner/banner-3-620x260.jpg" alt="be1" class="img-responsive">
                            </a>				</div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="next-prevb jd-2">
                    <div id="featured_category">
                        <div class="hedco">
                            <div class="category_module next-prev row">
                                <div id="cat-img" class="owl-carouselr owl-theme">
                                    <?php var_dump($category); if ($category) { ?>
                                        <?php foreach ($categories as $category) { var_dump($category);exit; ?>
                                            <div class="col-xs-12 catsp">
                                                <div class="catf">
                                                    <div class="block-cat-wr">
                                                        <a href="<?php echo $category['href']; ?>">
                                                            <img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/10-100x100.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="block-cat-wrd">
                                                        <a href="<?php echo $category['href']; ?>" class="cate-bg"><?php echo $category['name']; ?></a>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php } ?>
                                    <?php } ?>
                                </div>
                                <script type="text/javascript">
                                    /*(function($){
                                        $("#cat-img").owlCarousel({
                                            autoPlay: false,
                                            loop: false,
                                            items: 8,
                                            //navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                                            navigation : false,
                                            pagination:false
                                        });
                                    }(jQuery));*/
                                </script>
                                <div id="cat-img2" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                    <div class="owl-wrapper-outer">
                                        <div class="owl-wrapper" style="width: 4290px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                                            <div class="owl-item" style="width: 195px;">
                                                <div class="col-xs-12 catsp">
                                                    <div class="catf">
                                                        <div class="block-cat-wr">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=60">
                                                                <img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/10-100x100.png" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="block-cat-wrd">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=60" class="cate-bg">Smart Phone</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 195px;"><div class="col-xs-12 catsp">
                                                    <div class="catf">
                                                        <div class="block-cat-wr">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=59"><img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/3-100x100.png" alt=""></a>

                                                        </div>
                                                        <div class="block-cat-wrd">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=59" class="cate-bg">tv</a>
                                                        </div>
                                                    </div>
                                                </div></div>
                                            <div class="owl-item" style="width: 195px;"><div class="col-xs-12 catsp">
                                                    <div class="catf">
                                                        <div class="block-cat-wr">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=20"><img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/1-100x100.png" alt=""></a>

                                                        </div>
                                                        <div class="block-cat-wrd">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=20" class="cate-bg">Desktops</a>
                                                        </div>
                                                    </div>
                                                </div></div>
                                            <div class="owl-item" style="width: 195px;"><div class="col-xs-12 catsp">
                                                    <div class="catf">
                                                        <div class="block-cat-wr">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=18"><img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/6-100x100.png" alt=""></a>

                                                        </div>
                                                        <div class="block-cat-wrd">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=18" class="cate-bg">Laptops </a>
                                                        </div>
                                                    </div>
                                                </div></div>
                                            <div class="owl-item" style="width: 195px;"><div class="col-xs-12 catsp">
                                                    <div class="catf">
                                                        <div class="block-cat-wr">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=25"><img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/7-100x100.png" alt=""></a>

                                                        </div>
                                                        <div class="block-cat-wrd">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=25" class="cate-bg">Components</a>
                                                        </div>
                                                    </div>
                                                </div></div>
                                            <div class="owl-item" style="width: 195px;"><div class="col-xs-12 catsp">
                                                    <div class="catf">
                                                        <div class="block-cat-wr">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=64"><img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/9-100x100.png" alt=""></a>

                                                        </div>
                                                        <div class="block-cat-wrd">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=64" class="cate-bg">macs4</a>
                                                        </div>
                                                    </div>
                                                </div></div>
                                            <div class="owl-item" style="width: 195px;"><div class="col-xs-12 catsp">
                                                    <div class="catf">
                                                        <div class="block-cat-wr">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=57"><img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/2-100x100.png" alt=""></a>

                                                        </div>
                                                        <div class="block-cat-wrd">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=57" class="cate-bg">Tablets</a>
                                                        </div>
                                                    </div>
                                                </div></div>
                                            <div class="owl-item" style="width: 195px;"><div class="col-xs-12 catsp">
                                                    <div class="catf">
                                                        <div class="block-cat-wr">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=17"><img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/8-100x100.png" alt=""></a>

                                                        </div>
                                                        <div class="block-cat-wrd">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=17" class="cate-bg">Software</a>
                                                        </div>
                                                    </div>
                                                </div></div>
                                            <div class="owl-item" style="width: 195px;"><div class="col-xs-12 catsp">
                                                    <div class="catf">
                                                        <div class="block-cat-wr">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=24"><img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/10-100x100.png" alt=""></a>

                                                        </div>
                                                        <div class="block-cat-wrd">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=24" class="cate-bg">Phones &amp; PDAs</a>
                                                        </div>
                                                    </div>
                                                </div></div>
                                            <div class="owl-item" style="width: 195px;"><div class="col-xs-12 catsp">
                                                    <div class="catf">
                                                        <div class="block-cat-wr">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=33"><img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/8-100x100.png" alt=""></a>

                                                        </div>
                                                        <div class="block-cat-wrd">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=33" class="cate-bg">Cameras</a>
                                                        </div>
                                                    </div>
                                                </div></div>
                                            <div class="owl-item" style="width: 195px;"><div class="col-xs-12 catsp">
                                                    <div class="catf">
                                                        <div class="block-cat-wr">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=34"><img class="img-responsive" src="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/image/cache/catalog/Category/2-100x100.png" alt=""></a>

                                                        </div>
                                                        <div class="block-cat-wrd">
                                                            <a href="http://winterinfotech.com/Opencart/OC_MS03/Multistore05/index.php?route=product/category&amp;path=34" class="cate-bg">MP3 Players</a>
                                                        </div>
                                                    </div>
                                                </div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php //echo $column_left; ?>
<?php //echo $column_right; ?>
<div id="content">

    <h1 style="display: none;"><?php echo $heading_title; ?></h1>
    <?php //echo $content_bottom; ?>
</div>
<?php echo $footer; ?>