<div class="webi-newsletter {{ prefix }} webi-newsletter col-xs-12 col-lg-12" id="newsletter_{{ id }}" data-mode="{{ mode }}">
		<form id="formNewLestter" method="post" action="{{ action }}" class="formNewLestter" {% if banner is not empty%} style="background-image: url('{{ banner }}')" {% endif %}>
			<div class="inner">
				<div class="col-lg-6 col-md-6 hidden-sm col-xs-12 hidden-xs">
					<svg width="50px" height="50px"><use xlink:href="#send" /></svg>
					{# <h5>{{ entry_newsletter }}<button type="button" class="btn  toggle collapsed" data-toggle="collapse" data-target="#newsletter"></button></h5> #}
					<div id="newsletter">
					<div class="description-top">
						{{ description }}
					</div>
					</div>
				</div>

				<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 email-f">
					<div class="">
						<input type="text" class="form-control input-md inputNew" {% if customer_email is not defined %} onblur="javascript:if(this.value=='')this.value='{{ default_input_text }}';" onfocus="javascript:if(this.value=='{{ default_input_text }}')this.value='';"{% endif %} value="{{ customer_email? customer_email : default_input_text }}" size="18" name="email">
					
						<div class="button-submit input-group-btn">
							<button class="submits" type="submit" name="submitNewsletter" class="btn btn-block">{{ button_subscribe }}</button>
						</div>	
					</div>
				<input type="hidden" value="1" name="action">
				<div class="valid"></div>
				<!-- <div class="description-bottom">
					{{ social }}
				</div> -->
				</div>
				</div>
			</div>
		</form>


<script type="text/javascript"><!--
$("#newsletter_{{ id }}").webiNewsletter().work(  '{{ valid_email }}' );
--></script>