{{ header }}
<div id="product-manufacturer" class="container">
 
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
       <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
      <div class="head-t">
      <h4>{{ heading_title }}</h4>
    </div>
      {% if products %}
     <div class="row cate-border">
        <div class="col-md-2 col-sm-3 col-xs-4 lgrid">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}">
              <svg width="20px" height="20px"> <use xlink:href="#clist"></use></svg></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><svg width="20px" height="20px"> <use xlink:href="#cgrid"></use></svg></button>
          </div>
        </div>
       <div class="col-md-3 col-sm-6 compar col-xs-7 hidden-md hidden-sm">
          <div class="form-group"><a href="{{ compare }}" id="compare-pro" class="btn btn-link">{{ text_compare }}</a></div>
        </div>
        <div class="col-lg-4 col-md-5 col-xs-5 col-sm-5  catesort">
          <div class="form-group input-group input-group-sm select-input">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}             
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>     
              {% else %}    
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
              {% endfor %}
           </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-5 col-xs-3 col-sm-4 catesort">
          <div class="form-group input-group input-group-sm select-input">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              {% for limits in limits %}
              {% if limits.value == limit %}
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>        
              {% else %}            
              <!-- <option value="{{ limits.href }}">{{ limits.text }}</option> -->           
              {% endif %}
              {% endfor %}           
            </select>
          </div>
        </div>
      </div>
      <div class="row next-prevb"> {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div>
      <div class="caption">
         <h4 class="protitle"><a href="{{ product.href }}">{{ product.name }}</a></h4>
         <p class="discription">{{ product.description }}</p>
        <div class="cap">
        {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}
        </div>
        {% endif %}
       {% if product.price %}
        <div class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
         {#  {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} #}
        </div>
        {% endif %}
        </div>

               
      
    <div class="button-group">
      <div class="absbtn">
        <div class="addtocart">
          <button class="btn-block" type="button" data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><svg width="16px" height="16px"><use xlink:href="#pcart"></use></svg>
          </button>
        </div>     
        <div class="wish">
          <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="bwish">
              <svg width="16px" height="16px"><use xlink:href="#pwish"></use></svg>{# {{ button_wishlist }} #}
          </button>
        </div>
        <div class="view">
            <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="bcom">
              <svg width="16px" height="16px"><use xlink:href="#pcom"></use></svg>{# {{ button_compare }} #}
            </button>
        </div>
        <div class="bquickv" title="quickview" data-toggle="tooltip"> </div>

      </div> 
    </div>
    </div>
            </div>
          </div>
        </div>
        {% endfor %} </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}