{% if reviews %}
{% for review in reviews %}
<div class="custreview">
<table class="table table-striped table-bordered">
  <tr>
     <div class="crspc"> <span><strong>{{ review.author }}</strong></span><span class="rsep">|</span><span class="rdate">{{ review.date_added }}</span></div>
  </tr>
  <tr>
    <p>{{ review.text }}</p>
      {% for i in 1..5 %}
      {% if review.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
      {% endfor %}
  </tr>
</table>
{% endfor %}
<div class="text-right">{{ pagination }}</div>
{% else %}
<p>{{ text_no_reviews }}</p>
{% endif %} 
</div>