@media (min-width:992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: right;
    }
}
@media (min-width:768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: right;
    }
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    float:right;
}
.pull-left{
    float:right !important;
}
.pull-right{
    float:left !important;
}
.list-unstyled {
    padding-right: 0;
}
.text-right{
    text-align: left;
}
.text-left{
    text-align: right;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"]{
    float: right;
    right: 0;
    margin-left: 0;
}
.dropdown-menu,#top #form-currency .currency-select, #top #form-language .language-select{
    text-align: right;
}
.dropdown-menu,#cart .dropdown-menu, #top .dropdown-menu, .inuser .dropdown-menu{
    left: 0;
    right: auto;
}
.checkbox-inline, .radio-inline {
    padding-right: 20px;
    padding-left: 0;
    margin-right: 20px;
}
.categories-container .hover-cate p {
    background-position: left 0px bottom 6px;
}
#top-links-n {
    float: left;
}
.carts{
    text-align: left;
}
.categories-container .hover-cate p {
    border-left: none;
    border-right: 1px solid #dcdcdc;
    border-radius: 0 4px 4px 0;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#sp-btn-search:last-child > .btn{
    border-radius: 4px 0 0 4px;
}
#text-search {
    border-right: none;
    border-left: none;
}
#search-by-category .search-container .categories-container {
    float: right;
}
.product-layout {
    border-right: none;
}
.wb-product-grid {
    border: 1px solid #eee;
}
.product-list{
    border-left: none;
}
/* topbar */
.product-thumb,.blog-right{
    direction: rtl;
}
.textdata p::after {
    right: 70px;
    left: auto;
}
#cart-total {
    right: 14px;
    left: 0px;
}
#top-links-n svg {
    margin-right: 0px;
    margin-left: 5px;                                                                                                   
}
.compro {
    margin: 0 35px 0 0px;
}
.fleft{
    border-left: 1px solid #eee;
    border-right: none;
}
#xsfilter .checkbox input[type="checkbox"]{
    right: 0;
    left: auto;
    float: none;
    margin-right: 0px;
}
.fright{
    border-right: 1px solid #eee;
    border-left: none;
}
#cart {
    float: left;
}
#search {
    margin-bottom: 0px;
    float: right;
}
#search .form-control {
    border: 2px solid #eee;
    border-right: 2px solid #eee;
    border-left: none;
}
#search .input-lg {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#search .btn-lg {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.manun ul{
    padding: 0px;
} 
.meni {
    float: left;
}
.nav-tabs {
    border: none;
    text-align: left;
    margin-right: 0px;
    margin-left: 120px;
    padding: 0;
}
#contact .f-left li svg {
    fill: #8a8a8a;
    margin-left: 8px;
    margin-right: 0px;
    float: right;
    width: 25px;
    margin-top: 4px;
    font-size: 16px;
}
.owl-carousel .owl-buttons .owl-prev {
    right: auto!important;
    left: 20px!important;
}
.webi-newsletter form button[type="submit"] {
    right: auto;
    left: 0px;
    border-radius: 4px 0px 0px 4px;
}
.owl-carousel .owl-buttons .owl-next {
    left: 50px;
    right: auto!important;
}
.button-group .absbtn {
    left: 10px;
    right: auto;
}
.new {
    right: auto;
    left: 0px;
}
.search-box button[type="button"] {
    right: auto;
    left: 0px;
}
.product-tab .nav-tabs {
    text-align: right;
}
.sale {
    right: 10px;
    left: auto;
}
.fpayment li, .fsocial li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 0px!important;
}
.submits {
    margin-right: -40px !important;
    margin-left: 0px !important;
}
.bbb {
    float: left;
}
.zoomWindow {
    right: 620px;
    left: auto !important;
}
.propad ul{
    margin-left: 0px;
}
.inner svg {
    margin: 0px 0px 0px 20px;
}
.breadcrumb {
    padding-right: 10px;
}
.btnplus {
    border-radius: 4px 0px 0px 4px;
}
.btnminus {
    border-radius: 0px 4px 4px 0px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: 0px;
    margin-right: -20px;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 0;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.wco {
    margin-left: auto;
    margin-right: 38px;
}
.hs{
    margin-top: 10px;
}
.coll h4 {
    text-align: right;
}
.textdata li {
    padding-right: 0;
    padding-left: 20px;
}
.coll ul li:last-child {
    margin-right: 5px;
}
.acc li i {
    padding-left: 5px;
    padding-right: 0px;
}
#compare-total i{
    padding-right: 0px;
    padding-left: 5px;
}
#wishlist-total i{
    padding-right: 0px;
    padding-left: 5px;
}
#scroll {
    right: unset;
    left: 35px;
}
.rownext ul li {
    margin-left: 33px;
    margin-right: 0px;
}
.alert-dismissible .close {
    top: 0;
    float: left;
    right: 0px;
    padding-right: 10px;
}
.select-input::after {
    left: 10px;
    right: auto;
}
.catsearch::after {
    left: 20px;
    right: auto;
}
.mfp-close {
    left: 0px;
    right: auto!important; 
}
.close {
    float: left;
}
.formNewLestter .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"]{
    float: none;
    left: auto;
}  
.imgpro {
    float: right;
    padding-left: 10px;
    padding-right: 0px;
}
.mcart {
    padding-right: 3px;
    padding-left: 0px;
}
.closepro {
    float: left;
}
.webi-post-author span i {
    margin-left: 5px;
    margin-right: 10px;
}
.a2a_default_style a, .a2a_default_style .a2a_counter img, .a2a_default_style .a2a_dd, .a2a_default_style .a2a_svg {
    float: right !important;
}
.newpros {
    right: auto;
    left: 10px;
}
#xsfilter .checkbox label {
    padding-left: 0;
    direction: ltr;
}
.comm i {
    padding: 0px;
    margin-right: 0px!important;
}
.view-comment {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.account button.dropdown-toggle {
    margin-right: 8px;
    margin-left: 4px !important;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    text-align: right;
}
#menu .dropdown-inner a {
    direction: ltr;
}
.list-group a {
    direction: ltr;
    text-align: right;
}
#slideshow0:hover .owl-buttons .owl-next {
    right: 70px !important;
}
#slideshow0 .owl-buttons .owl-next {
    right: 50px !important;
    left: auto;
}
#slideshow0:hover .owl-buttons .owl-prev {
    left: 70px !important;
}
#slideshow0 .owl-buttons .owl-prev {
    left: 50px !important;
}
.cartname {
    margin: 0px;
}
.cartprice {
    right: 70px;
    left: auto;
}
@media (min-width: 768px){
    .wr-menu .navbar-toggle {
        float: right;
    }
    #menu .dropdown-menu {
        right: 100%;
        left: auto;
        transform-origin: right center 0;
        margin-left: 0;
        margin-right: 16px;
    }
    #menu li a:hover .enangle {
        transform: rotate(90deg);
    }
    .product-list .product-thumb .image {
        float: right;
    }
    .product-list .caption h4 {
        text-align: right;
    }
    .product-list .discription {
        text-align: right;
    }
    .product-list .price {
        text-align: right;
    }
}
.buttons{
    float: left;
}
.acc li i {
    padding-left: 5px;
    padding-right: 0px;
    margin: 0;
}
.product-tab .nav-tabs li.active::after {
    height: 2px;
    width: 83px;
}
ul{
    padding: 0px; 
}
@media (min-width: 768px) and (max-width: 991px) {
    .compro {
        margin: 0 15px 0 0px;
    }
    .rownext ul li {
        margin-left: 12px;
        margin-right: 0px;
    }
    .fpayment li, .fsocial li {
        display: inline-block;
        margin-left: -2px;
        margin-right: 0px !important;
    }
}
@media(max-width: 992px){
    .textdata p::after {
        right: 64px;
        left: auto;
    }
    .nav-tabs {
        margin-right: 0px;
        margin-left: 80px;
    }
}
@media(max-width: 1590px){
    .zoomWindow {
        right: 545px;
        left: auto !important;
    }
}
@media(max-width: 767px){
    .catfilter .add {
        float: left;
    }
    .radio label {
        padding-right: 20px;
    }
    .checkbox{
        margin-right: 20px;
    }
    #text-search {
        border-right: 1px solid #dcdcdc;
        border-left: none;
        border-radius: 0px 4px 4px 0px;
    }
    .account {
        min-width: 200px;
    }
    .nav-tabs {
        text-align: right;
        margin-right: 0px;
        margin-left: 0px;
    }
    #cart-total {
        right: 13px;
        left: 0px;
    }
    .acc .dropdown-menu {
        left: -12px;
        right: auto;
    }
    .catfilter button {
        float: left;
    }
    .fborder h5 .toggle.collapsed::after {
        float: left;
    }
    .fborder h5 {
        text-align: right;
    }
    .closebtn, .closebtn:hover, .closebtn:focus {
        float: left;
    }
    .fborder h5 .toggle::after {
        float: left;
    }
    .newpros {
        right: 10px;
        left: unset;
    }
    #form-currency .dropdown-menu {
        left: auto;
        right: -15px;
    }
    #menu {
        float: right;
    }
    .navbar-header button {
        margin-right: 0px !important;
        margin-left: 15px!important;
        margin-top: 6px !important;
    }
    .side ul{
        padding: 0px;
    }
    .sidenav {
        right: 0px;
        left: auto;
    }
    .sidenav {
        list-style: none;
        text-align: right;
    }
}
.price {
    float: left;
}
.product-list .product-thumb .rating {
    text-align: right;
}
.product-list .product-thumb .price {
    text-align: right;
}
.product-list .product-thumb .button-group {
    text-align: right;
}
.language-select img {
    margin-right: 0px;
    margin-left: 10px;
}
.popup .checkbox input[type="checkbox"]{
    float: none; 
    right: auto; 
}
@media (max-width: 575px){
    #account .xsuser {
        margin-right: 0px;
        margin-left: 15px
    }
    .product .nav-tabs > li {
        float: right;
    }
}
@media(max-width: 1199px){
    #text-search {
        border-right: 1px solid #dcdcdc;
        border-radius: 0px 4px 4px 0px;
    }
    .zoomWindow {
        right: 460px;
        left: auto !important;
    }
}
@media(min-width: 500px) and (max-width: 767px){
    .acc {
        padding-left: 15px;
        padding-right: 0px;
    }
}
@media(min-width: 768px) and (max-width: 992px){
    .pro-content .rating { 
        text-align: right !important;
    }
}