body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	letter-spacing: 0.8px;
	color: #666;
	font-size: 15px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
	color: #1467c1;
}
.owl-controls .owl-page.active span {
    background: #1467c1 !important;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: transparent;
}
/* top */
#slideshow0:hover .owl-buttons .owl-next {
    right: 50px;
}
#slideshow0:hover .owl-buttons div {
    opacity: 1;
}
#slideshow0 .owl-buttons .owl-next {
    right: 0px;
}
#slideshow0 .owl-buttons div i, #tfeature .owl-buttons div i, #special .owl-buttons div i {
    font-size: 24px;
    margin: 0px;
}
#slideshow0 .owl-buttons div {
    width: 40px;
    height: 40px;
    line-height: 32px;
    font-size: 20px;
    color: #222222;
    background: #fff;
    text-align: center;
    transition: .3s ease;
    display: inline-block;
    border-radius: 50px;
    opacity: 0;
    top: 50%;
    margin: 0;
    padding: 4px 0px;
}
#slideshow0 .owl-buttons div:hover i, #product .owl-buttons div:hover, #cat-img .owl-buttons div:hover, #special .owl-buttons div:hover {
    color: #fff;
}
#slideshow0 .owl-buttons .owl-prev {
    left: 0px;
}
#slideshow0:hover .owl-buttons .owl-prev {
    left: 50px;
}
#slideshow0:hover .owl-buttons .owl-next {
    right: 50px;
}
#slideshow0 .owl-buttons div:hover{
    color: #fff;
    background: #1467c1;
}
 #product .owl-buttons div:hover i, #cat-img .owl-buttons div:hover i, #special .owl-buttons div:hover i {
    color: #1467c1;
}
.cartdrop {
    padding: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
#slideshow0.owl-carousel .owl-buttons .owl-next:hover::after, #slideshow0.owl-carousel .owl-buttons .owl-prev:hover::after, #slideshow0.owl-carousel .owl-buttons .owl-next:active::after, #slideshow0.owl-carousel .owl-buttons .owl-prev:active::after, #slideshow0.owl-carousel .owl-buttons .owl-next:focus::after, #slideshow0.owl-carousel .owl-buttons .owl-prev:focus::after{
	border: none !important;
}
.cartname {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 5px;
    width: 160px;
    font-size: 14px;
    transition: 0.3s ease;
}
.cartprice {
    clear: both;
    position: relative;
    top: -35px;
    left: 70px;
    width: 50%;
    color: #25274d;
    font-size: 13px;
    direction: ltr;
    margin-bottom: -10px;
}
#cart .btn-pri {
    background-color: #fff;
    color: #222;
    padding: 0;
    border-color: #fff;
    border: none;
    transition: all 0.4s ease-in-out 0s;
}
#cart .dropdown-menu table {
    margin-bottom: 10px;
    font-size: 13px;
    text-shadow: none;
    color: #000;
}
#cart .dropdown-menu li > div {
    padding: 0 10px;
}
.btn-xs {
    font-size: 9px;
}
.account li i {
    margin-right: 7px;
}
.dropdown-menu li > a:hover {
    text-decoration: none;
    color: #1467c1;
    background-color: #fff;
    background-image: none;
    background-repeat: repeat-x;
}
#top {
    background-color: #1467c1;
    border-bottom: 1px solid #e2e2e2;
    padding: 13.5px 0px;
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#form-language i, #form-currency i{
	vertical-align: middle;
	margin-left: 5px;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: transparent;
	background-image: none;
}
#top .btn-link, #top-links li, #top-links a {
    color: #fff;
    text-decoration: none;
    padding: 0px;
    vertical-align: middle;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 0.8px;
    font-size: 14px;
    border: none;
}
.compro {
    margin: 0 0 0 35px;
}
#form-currency {
    margin: 0px 35px;
}
#top-links-n {
    display: inline-block;
    float: right;
    color: #000;
    margin-top: 5px;
	font-weight: 500;
}
.get-n{
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
#top-links-n svg{
	vertical-align: middle;
	margin-right: 5px;
}
.scon {
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 13px;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
    line-height: 14px;
}
ul {
    margin-top: 0;
    margin-bottom: 0px;
}
#top-links a + a {
	margin-left: 15px;
}
header{
	padding: 25px 0px;
}
/* logo */
:focus {
    outline: none;
}
/* ctsearch */
#search-by-category .search-container .categories-container {
    float: left;
    width: 25%;
    position: relative;
}
.cate-selected {
    display: inline-block;
    font-size: 13px;
    margin-top: 3px;
}
.categories-container .hover-cate p {
    height: 50px;
    cursor: pointer;
    padding: 12px;
    margin-bottom: 0;
    background: #fff url('../../../../../image/catalog/searcharrow.png');
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
    background-repeat: no-repeat;
    background-position: right 0px bottom 6px;
    border: 1px solid #dcdcdc;
        border-right-color: rgb(220, 220, 220);
        border-right-style: solid;
        border-right-width: 1px;
    border-right: none;
    color: #A6A6A6;
    border-radius: 4px 0 0 4px;
}
#btn-search-category {
    background: #1467c1;
    fill: #fff;
    border: 1px solid #1467c1; 
    height: 50px;
    box-shadow: none;
    transition: 0.3s ease;
    width: 100px;
}
.ajax-result-list .acpage {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 0 10px 0;
}
#text-search {
    width: 100%;
    border: 1px solid #dcdcdc;
        border-left-color: rgb(220, 220, 220);
        border-left-style: solid;
        border-left-width: 1px;
    height: 50px;
    padding: 0 15px;
    border-left: none;
}
.fixed {
    position: fixed;
    z-index: 9;
    top: 0;
    transition: 0.4s top cubic-bezier(.3, .73, .3, .74);
    left: 0;
    right: 0;
    background-color: #192739;
}
#search-by-category .search-container .categories-container .hover-cate .cate-items {
    z-index: 9999;
    position: absolute;
    display: none;
    background: none repeat scroll 0% 0% #FFF;
    max-height: 300px;
    overflow: auto;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    line-height: 25px;
    text-transform: capitalize;
    list-style: none;
    font-size: 13px;
}
.ajax-result-list .product-info {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}
.search-ajax ul {
    list-style: none;
}
#search-by-category .search-ajax .ajax-result-container .ajax-result-list {
    display: block;
    border: 1px solid #ddd;
    max-height: 345px;
    overflow: auto;
    border-radius: 4px;
}
.search-ajax ul {
    list-style: none;
    padding: 0px;
}
.ajax-loader-container {
    position: absolute;
    z-index: 110;
    height: 300px;
    background-color: white;
    border: 1px solid #eee;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}
#search-by-category .search-ajax {
    position: absolute;
    z-index: 99;
    background: none repeat scroll 0% 0% #fff;
    left: 15px;
    top: 100%;
    right: 15px;
}
.ajax-result-list .product-image img {
    max-width: 90px;
    border: 1px solid #eee;
    border-radius: 4px;
}
.ajax-result-list .acpage {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 0 10px 0;
}
#search-by-category .list-des {
    font-size: 12px;
    color: #777;
}
.list-des {
    text-transform: capitalize;
    color: #282828;
    max-height: 40px;
    overflow: hidden;
}
#sp-btn-search:last-child > .btn {
    border-radius: 0 4px 4px 0;
    margin-left: 0px;
}
/* .search-box input[type="text"] {
    border: 1px solid #dcdcdc;
    height: 48px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 13px;
    color: #767676;
    letter-spacing: 1px;
    padding: 10px 20px;
    width: 100%;
}
.search-box button[type="button"] {
   background: #f13d39;
    border: none;
    fill: #fff;
    text-transform: uppercase;
    font-size: 0.8125rem;
    height: 48px;
    width: 80px;
    padding: 0;
    transition: 0.3s ease;
    cursor: pointer;
} */
.input-group-btn > .btn:active, .input-group-btn > .btn:focus, .input-group-btn > .btn:hover {
    z-index: 2;
    background-color: #000 !important;
    color: #fff;
    border: 1px solid #000;
    fill: #fff;
}
#btn-search-category:hover{
    border: 1px solid #000;
}
/* catend */
/*loader start */ #loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 54px;
    margin-left: -125px;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    opacity: 0;
    transition: all 1.3s ease 0.3s;
    overflow: hidden;
}
#page-preloader.visible {
    opacity: 1;
    z-index: 100500;
    overflow: hidden;
}
#page-preloader .preloader {
    position: absolute;
    left: 50%;
    top: 45%;
    text-align: center;
    transform: translate(-50%,-50%);
    transition: all 0.4s ease;
    opacity: 0;
}
#page-preloader.visible .preloader {
    opacity: 1;
    transform: translate(-50%,-50%);
}
.object{
position: absolute;
    top: 0px;
    z-index: 4;
    background: url('../../../../../image/catalog/loader.gif') 50% 50% no-repeat;
    width: 100%;
    height: 100%;
}
#page-preloader{
    display: none;
}
#page-preloader{
    display: block;
}

.beffect {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.swiper-viewport {
    border: 1px solid #eee !important;
    box-shadow: none !important;
}
.mfp-iframe-scaler iframe {
    border-radius: 4px;
}
/* loderend */
/* search */
#search .input-lg {
	height: 48px;
	line-height: 20px;
	padding: 0 10px;
	box-shadow: none;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 0px;
	height: 48px;
	width: 100px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#menu .dropdown-inner a {
    min-width: 160px;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
    text-transform: capitalize;
}
.beffect:hover a::after {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transition-duration: 1.3s;
    -moz-transition-duration: 1.3s;
    -webkit-transition-duration: 1.3s;
    -khtml-transition-duration: 1.3s;
    -o-transition-duration: 1.3s;
    opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    height: 100%;
    width: 100%;
}
.beffect a::after {
    background: rgba(0,0,0,.22);
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    width: 0;
    height: 0;
}
.beffect a::after {
    background: rgba(255,255,255,.5);
}
.beffect img{
    border-radius: 4px;
}
.beffect a {
    display: block;
    overflow: hidden;
    position: relative;

}
.xsuser svg, .cimg svg{
	vertical-align: middle;
}
#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #000;
    width: auto;
    float: right;
    padding: 0px;
    box-shadow: none;
    border: none;
}
.carts .acc {
    padding: 0px 40px;
}
#cart {
    width: auto;
}
.carts{
	text-align: right;
}
.acc {
    width: auto;
    display: inline-block;
    padding-right: 5px;
    color: #fff;
}
#cart.open > .btn {
}
#cart-total{
	position: absolute;
	font-weight: 500;
	font-size: 11px;
	color: #fff;
	width: 15px;
	height: 15px;
	background-color: #1467c1;
	border-radius: 100%;
	line-height: 15px;
	text-align: center;
	padding: 0px 4px;
	display: inline-block;
	top: -5px;
	right: -7px;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	z-index: 1001;
}
#cart .dropdown-menu {
    width: 265px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
	text-align: center;
}
/* menu */
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	color: #1467c1;
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#gallery_01 a {
    padding: 0px 10px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #000;
	background-color: transparent;
	background-image: none;
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.rownext ul li {
    margin-right: 45px;
}
.rownext li {
    display: inline-block;
}
.mright li a {
    color: #000;
	text-transform: capitalize;
	font-size: 16px;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 500;
	position: relative;
	text-align: center;
	display: inline-block;
}
.linkback{
	background-color: #f5f5f5;
	padding: 12px 0;
}
.rownext {
    display: inline-block;
}
.beffect.sub-img-banner{
	display: inline-block;
}
.nav-tabs {
    text-align: right;
    margin-right: 120px;
    border: none;
    margin-bottom: 0px;
}
.tab-head{
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
}
.tab-head .nav-tabs > li.active > a, .tab-head .nav-tabs > li.active > a:focus, .tab-head .nav-tabs > li.active > a:hover, .tab-head .nav-tabs > li > a:hover {
    color: #1467c1;
    cursor: default;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
a:focus {
    outline: none;
    text-decoration: none;
}
.tab-head .nav-tabs > li.active::after, .tab-head .nav-tabs > li > a:hover::after, .tab-head h1::after{
	content: "";
    border-bottom: 3px solid #1467c1;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 37px;
    left: 0px;
}
.tab-head .nav-tabs > li > a {
    margin: 0;
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #181818;
}
.nav-tabs > li > a {
    border: none;
}
.nav-tabs > li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
}
.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
}
.product-thumb:hover .second-img {
    opacity: 1;
}
.product-thumb .image {
    text-align: center;
    border-radius: 4px;
    position: relative;
}
.product-thumb .second-img {
    top: 0;
    left: 0;
    margin: 0 auto;
        margin-right: auto;
        margin-left: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: all 400ms ease-in-out 0s;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
}
.tab-head h1 {
    margin-bottom: 0;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    color: #333;
    margin: 0px;
}
.addtocart, .wish, .view, .bquickv {
    text-align: center;
    display: inline-block;
}
.addtocart button, .view button, .wish button, .webi-ownstyle.webi-quickview {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
}
.button-group{
    position: absolute;
	left: 20px;
	right: 20px;
	bottom: 54%;
	transition: .3s ease;
	opacity: 0;
}
.product-thumb:hover .button-group{
    opacity: 1;
}
.ssub-img-banner{
	margin-bottom: 30px;
}
.imgbanner {
	padding: 0px;
}
#common-home {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.slb{
	margin-bottom: 50px;
}
.owl-wrapper-outer {
    box-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
}
.product-layout{
	position: relative;
	padding: 0px 10px;
}
#tfeature .row{
	margin-left: -10px;
	margin-right: -10px;
}
.head-t {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;
}
.head-t::before {
    border-bottom: 3px solid #1967c1;
    position: absolute;
    bottom: -1px;
    content: '';
    width: 90px;
}
.head-t h4 {
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #333;
}
#scroll {
    position: fixed;
    right: 35px;
    bottom: 80px;
    cursor: pointer;
    z-index: 2;
    height: 32px;
    width: 32px;
    text-align: center;
    transition: .3s ease;
    border-radius: 4px;
    color: #fff;
}
#form-language{
    margin-bottom: 0px;
}
.product-layout .webi-ownstyle.webi-quickview{
	background-color: #fff;
	fill: #000;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	text-align: center;
	padding: 5px 0;
	vertical-align: middle;
	display: inline-block;
	transition: all 0.3s ease-in-out;
	border: 1px solid #fff;
}
.product-layout .webi-ownstyle.webi-quickview:hover{
	background-color: #1467c1;
	border-color: #1467c1;
	color: #fff;
} 
.product-layout .webi-ownstyle.webi-quickview:hover svg{
	fill: #fff;
}
.pcrt svg{
    fill: #fff;
}
.protitle a {
    color: #222;
    transition: all 0.4s ease 0s;
}
.product-quickview-detail .nav-tabs{
	padding-top:50px;
}
.manuf{
	margin-top: 50px;
}
.pro-content .headti{
    font-size: 17px;
}
#carousel0 img{
	border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
    margin: 0 1px;
}
.fborder li a:hover, .f-left li:hover {
    color: #1467c1;
}
#menu .dropdown-inner li a:hover {
    color: #1467c1;
}
#top #form-currency .currency-select, #top #form-language .language-select {
    text-align: left;
    color: #000;
    padding: 5px 20px;
}
.language-select img {
    margin-right: 10px;
}
#top #form-currency .currency-select:hover, #top #form-language .language-select:hover {
    text-shadow: none;
    color: #1467c1;
}
.op-box.qtlabel {
    display: inline-block;
}
.op-box.qty-plus-minus {
    display: inline-block;
    vertical-align: middle;
}
.row.adding {
    margin: 0px;
}
.promo {
    padding-top: 15px;
}
.swiper-viewport {
    border: 1px solid #eee !important;
    box-shadow: none !important;
}
/* category */
.product-list .button-group {
    position: unset;
    opacity: 1;
}
.product-list .rating, .product-list .price {
    display: block;
}
.product-list .product-thumb .rating {
    padding-bottom: 10px;
    float: none;
    text-align: left;
}
.product-list .protitle{
	position: unset;
	margin: 0;
	text-align: left;
	padding: 10px 0px;
    text-overflow: ellipsis;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
}
.product-list .caption {
    text-align: left;
    float: left;
    padding-bottom: 10px;
    padding-left: 10px;
	padding-right: 10px;
}
.product-list .product-title {
    border-top: none;
}
.product-list .caption .cap{
	padding: 0px;
}
.product-list .product-thumb:hover .price, .product-list .product-thumb:hover .rating {
    opacity: 1;
}
/* .product-list{
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
	border-radius: 4px;
	padding: 0;
} */
.product-grid, .product-list {
    margin-bottom: 30px;
    padding: 0 10px !important;
}
.product-list .product-thumb {
    float: left;
    width: 100%;
}
.product-list .product-thumb{
	border: none;
	margin-bottom: 0;
}
.product-list .product-thumb .price {
    float: none;
    text-align: left;
}
.product-list .product-thumb .button-group {
    text-align: left;
    margin-top: 0px;
}
.product-list .product-thumb .button-group button {
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 0px;
}
.product-list.product-layout .webi-ownstyle.webi-quickview {
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 0px;
}
.discription{
	font-size: 13px;
	color: #7a7a7a;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}
.product-list .absbtn {
    position: unset;
    opacity: 1;
    transform: none;
    display: inline-block;
    max-width: 210px;
    margin-top: 10px;
}
.product-list .protitle {
    font-size: 17px;
}
.product-list .button-group .addtocart {
    position: unset;
    opacity: 1;
    transform: none;
    display: inline-block;
    /* max-width: 210px;
    margin-top: 20px; */
}
.imgcat{
	padding: 0;
}
.acpage {
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
    margin-top: 0;
}
.cate-top {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #efefef;
    margin-bottom: 20px;
    border-radius: 4px;
}
#grid-view, #list-view {
    background-color: transparent;
    padding: 5px 4px;
    z-index: 0;
    border: none;
    box-shadow: none;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    color: #1467c1;
    background-color: transparent;
    border: none;
    fill: #1467c1;
}
.alert-dismissible .close {
    top: 0;
    right: 0;
}
.catesort #input-sort, #input-limit {
    border-radius: 4px !important;
}
.form-control:focus {
    border-color: #1467c1;
    outline: 0;
    box-shadow: none;
}
.alert {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    border-radius: 0;
    z-index: 99;
}
.lgrid .active svg {
    fill: #1467c1;
    cursor: pointer;
}
.compar .form-group, .catesort .form-group {
    margin: 0;
}
#compare-pro {
    color: #000;
}
.compar a {
    padding: 5px;
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border: none;
}
.cate-border {
    background-color: #fff;
    border: 1px solid #eee;
    margin: 15px 0px;
    padding: 10px 0px;
    border-radius: 4px;
}
.listgrid .row{
	margin-right: -10px;
	margin-left: -10px;
}
.product-grid .discription {
    display: none;
}
.select-input::after {
    font-family: 'fontawesome';
    content: '\f107';
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 6px;
    pointer-events: none;
    z-index: 2;
}
.compar .form-group, .catesort .form-group {
    margin: 0;
}
#top .hidden-xs.hidden-sm{
	padding: 0px;
}
.catesort label {
    background-color: #fff;
    border: none;
        border-right-color: currentcolor;
        border-right-style: none;
        border-right-width: medium;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: medium;
    color: #222 !important;
}
.catesort select.form-control, #product-search select.form-control {
    appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
#product .alert-info {
    position: unset;
}
.fpayment h5{
    margin-top: 25px;
}
#product-compare .rating{
    display: table-cell;
}
/* end category */
@media (min-width: 768px) {
    .sticky {
        position: sticky;
        top: 20px;
    }
    .dropdown-submenu .submenu-title {
        color: #192739 !important;
        font-size: 15px !important;
        text-transform: uppercase !important;
        font-weight: 500;
    }
    #menu li a:hover .enangle {
        transform: rotate(-90deg);
        transition: all 0.3s ease 0s;
    }
    .enangle {
        transition: all 0.3s ease 0s;
        margin: 4px;
    }
	#menu .dropdown:hover .dropdown-menu {
	    display: block;
	    padding: 12px 0;
	    visibility: visible;
	    opacity: 1;
	    filter: alpha(opacity=0);
	    transition: all 0.35s ease-out 0s;
	    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

	}
	#menu .dropdown-menu {
		border-top: 3px solid #1467c1 !important;
		border: 1px solid #e0e0e0;
	    background: #fff;
	    visibility: hidden;
	    display: block;
	    opacity: 0;
	    filter: alpha(opacity=0);
	    -webkit-transition: all 0.35s ease-out 0s;
	    -o-transition: all 0.35s ease-out 0s;
	    transition: all 0.35s ease-out 0s;
	    left: 100%;
	    right: auto;
	        border-top-color: currentcolor;
	        border-top-style: none;
	        border-top-width: medium;
	    top: 0;
        margin-left: 16px;
        border-radius: 0px;
        box-shadow: none;
	}
	#menu .dropdown-menu {
	    padding-bottom: 0;
	}
	.mynav{
	    position: absolute;
        left: 0px;
        right: 0px;
        z-index: 2;
        top: 36px;
	}
	.cate {
	    margin: 0 15px;
	    vertical-align: middle;
	    display: inline-block;
	}
	.ico-menu .bar:nth-child(2) {
		top: 5px;
		width: 18px;
	}
	.btn-navbar.navbar-toggle {
	    color: #2d2d2d;
	    cursor: pointer;
	}
	.wr-menu .navbar-toggle {
	    text-align: center;
	    margin: 0;
	    cursor: pointer;
	    transition: all .3s ease-in-out;
	    display: block;
	    float: left;
	}
	.btn-navbar.navbar-toggle {
	    color: #2d2d2d;
	    cursor: pointer;
	    -webkit-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    border: none;
	    background-color: transparent;
	    min-width: 20px;
	    min-height: 20px;
	    vertical-align: middle;
	    margin-top: 3px;
	    padding: 0px;
	}
	#wr-menu-icon:hover .ico-menu .bar::after {
	    left: 0;
	}
	.ico-menu .bar:nth-child(1) {
	    top: 0;
	    width: 18px;
	}
	.ico-menu .bar:nth-child(2)::after {
	    -webkit-transition-delay: 0.2s;
	    transition-delay: 0.2s;
	}
	.ico-menu .bar:nth-child(3)::after {
	    -webkit-transition-delay: 0.3s;
	    transition-delay: 0.3s;
	}
	.ico-menu .bar:nth-child(3) {
	    top: 10px;
	    width: 18px;
	}
	.ico-menu .bar {
		position: absolute;
		height: 2px;
		background-color: #222;
		overflow: hidden;
	}
	.ico-menu .bar:nth-child(1)::after {
	    -webkit-transition-delay: 0.1s;
	    transition-delay: 0.1s;
	}
	.ico-menu .bar::after {
	    content: '';
	    display: block;
	    width: 100%;
	    height: 100%;
	    background: #1467c1;
	    position: absolute;
	    top: 0;
	    left: 100%;
	    z-index: 1;
	    -webkit-transition: 0.3s;
	    transition: 0.3s;
	    transition-delay: 0s;
	}
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
	.ico-menu {
	    position: relative;
	    width: 16px;
	    top: -8px;
	    margin: 0 auto;
	    left: -1px;
	}
	.menurel #menu {
		min-height: 0px;
	    color: #2d2d2d;
	    font-size: 16px;
	    letter-spacing: .5px;
	    position: relative;
	    text-transform: capitalize;
	    border-radius: 0;
	    font-weight: 500;
	    padding: 0px;
	    cursor: pointer;
	    margin-bottom: 0px;
	    background-color: transparent;
	}
	#menu .navbar-nav > li {
	    float: none;
	    display: block;
	}
	#under-menu .navbar-nav {
	    float: none;
        margin: 0;
        border-radius: 0 0 4px 4px;
        border: 2px solid #e6e6e6;
        background: #fff;
        padding: 0 15px;
	}
	#menu .nav > li > a {
	    color: #222;
	    font-size: 14px;
	    letter-spacing: 1px;
	    text-transform: capitalize;
	    font-weight: 500;
	    cursor: pointer;
	    border-bottom: 1px solid rgba(208, 203, 203, 0.2);
        padding: 15px 1px;
	}
}
@media (max-width: 767px) {
    .slb {
        margin-bottom: 30px;
    }
    .tab-head h1 {
        font-size: 15px;
        padding-top: 10px;
    }
    .nav-tabs {
        margin-right: 65px;
    }
    .ssub-img-banner:last-child {
        margin-bottom: 30px !important;
        margin-right: 0px;
    }
    .imgbanner {
        display: none;
    }
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
.fborder h5, .inner h3, .fpayment h5 {
    font-size: 18px;
	color: #3d3d3d;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 15px;
	letter-spacing: 1px;
	display: block;
}
.fborder li a, .f-left li, .mainh {
    cursor: pointer;
	font-size: 14px;
	line-height: 30px;
	color: #666666;
	word-break: break-all;
}
.middle-footer{
	background-color: #f5f5f5;
}
.email-f {
    margin-bottom: 0px;
}
.mainh {
    color: #000;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: normal;
    margin-bottom: 0;
    margin-top: 0px !important;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 20px;
}
.button-submit.input-group-btn {
    position: initial;
}
.inner svg {
    margin: 0px 20px 0px 0px;
    fill: #000;
}
.webi-newsletter form button[type="submit"] {
    position: absolute;
    background-color: #222222;
    border: none;
    top: 0px;
    right: 0px;
    padding: 0;
    text-align: right;
    color: #fff;
    padding: 11px 20px !important;
    height: 45px;
    border-radius: 0px 4px 4px 0px;
    font-size: 15px;
}
.webi-newsletter form input[type="text"] {
    padding: 11px;
    width: 100%;
    border: none;
    box-shadow: none;
    height: 45px;
    border-radius: 4px !important;
}
#newsletter {
    display: inline-block;
    vertical-align: middle;
}
.news {
    color: #fff;
    fill: #fff;
    padding: 38px 0px; 
}
.fleft{
	border-top: 1px solid #e4e4e4;
	padding-top: 50px;
	padding-bottom: 0px
}
.main-s {
    font-size: 23px;
    text-transform: capitalize;
    margin-bottom: 0px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 5px;
}
svg {
    vertical-align: middle;
}
footer {
	margin-top: 50px;
	background-color: #f5f5f5;
	color: #e2e2e2;
}
.read-more a{
	text-transform: uppercase;
	font-weight: 500;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #666666;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* pagination */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #1467c1;
    border-color: #1467c1;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #1467c1;
    border-color: #1467c1;
}
.paginationss {
    text-align: center;
    border-radius: 4px;
    border: 1px solid #eee;
    text-transform: capitalize;
    padding: 7px 0px;
    margin: 0px -10px;
}
.paginationss .tot {
    line-height: 34px;
    float: right;
}
/* end pagination */
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #1467c1;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: none;
	text-transform: capitalize;
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #FFF;
	background-color: #1967C1;
	background-image: none;
	border-color: #1467c1;
}
.btn-primary {
	color: #ffffff;
	text-shadow: none;
	background-color: #1967c1;
	background-image: none;
	background-repeat: repeat-x;
	border-color: #1967c1;
}
.bor ul {
    line-height: 35px;
    padding-left: 25px;
    padding-right: 25px;
}
.usb a {
    text-transform: capitalize;
    line-height: 26px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-default[disabled], .btn-default:hover, .btn-default:active, .btn-default.active{
	background-color: #000;
	color: #fff;
    border-color: #000;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
    border: none;
}
.btn-link:focus, .btn-link:hover {
    color: #1467c1;
    text-decoration: underline;
    background-color: transparent;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #eee;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	background-color: transparent;
	background-image: none;
	border: none;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-image: none;
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #000;
	padding: 10px 12px;
    font-size: 14px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product .product-thumb {
	margin-bottom: 20px;
}
.product-thumb {
    position: relative
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 768px) {
	.product-list .product-thumb .image {
		float: left;
	}
}
@media (max-width: 1200px) {

}
@media (max-width: 767px) {
    .discat{
        padding: 10px 0px;
    }
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
	float: right;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #1467c1;
    font-size: 14px;
}
.rating .fa-star {
	color: #1467c1;
    font-size: 13px;
}
.newpros {
    position: absolute;
    top: -15px;
    background-color: transparent;
    font-size: 13px;
    padding: 6px 8px;
    letter-spacing: .5px;
    font-weight: 500;
    color: #1467c1;
    text-transform: capitalize;
    left: 5px;
    right: auto;
}
.social a i{
	color: #666666;
}
.social li:hover a i{
	color: #fff;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
#search svg{
    fill: #fff;
}
.lastb{
    margin-top: 3px;
}
.dimg{
	width: 75px;
	height: 75px;
	background-color: #f5f5f5;
	text-align: center !important;
	border-radius: 50%;
	padding-top: 22px;
	margin: 0 auto;
	transition: all 0.4s ease;
}
.deltext{
	vertical-align: middle;
	text-align: center;
}
.product-thumb .price-new, .price {
	font-size: 16px;
	font-weight: 500;
	color: #1467c1;
}
.product-thumb .price-old {
	text-decoration: line-through;
	color: #9f9e9e;
	font-size: 14px;
	font-weight: 500;
}
.ssub-img-banner:last-child {
	margin-bottom: 0px;
}
.jd-2{
	margin: 50px 0px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	text-align: center;
}
.rating, .price{
	display: inline-block;
    min-height: 22px;
}
.sj{
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 4px;
}
.dinfo{
	margin-top: 50px;
	margin-bottom: 50px;
}
.social{
	padding: 0px; 
}
.social li{
	display: inline-block;
	list-style: none;
	cursor: pointer;
	text-align: center;
	width: 40px;
	height: 40px;
	padding: 5px 0px;
	transition: all 0.3s ease 0s;
	position: relative;
	background-color: #dedede;
	border-radius: 100%;
	border: 5px solid rgba(0,0,0,0.07);
	z-index: 200;
}
.social li:hover{
    background-color: #1467c1;
    border: 5px solid rgba(255,255,255,0.3);
}
.social li:hover a{
    color: #fff;
}
.block-social::after {
    border-top: 1px solid #e4e4e4;
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: -17px;
}
.block-social::before {
    border-top: 1px solid #e4e4e4;
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 20px;
}
.block-social {
    position: relative;
    margin-top: 30px;
    padding: 0;
}
.siinfo:hover .sj{
	border-color: #1467c1;
}
.siinfo:hover .dimg{
	background-color: #1467c1;
}
.siinfo:hover .dimg svg{
	fill: #fff;
}
/* html */
#testi span {
    font-size: 12px;
    text-transform: uppercase;
    color: #939393;
    margin-top: 10px;
    display: inline-block;
}
.item img{
	border-radius: 10px;
	border: 3px solid #1467c1;
	z-index: 1;
	position: relative;
	margin: 0 20px;
}
.float-xs-left, .float-sm-left {
    float: left;
}
.content_test svg{
	fill: #b2b2b2;
}
.text-p {
    position: relative;
    margin-bottom: 20px;
    display: flex;
}
#testi h3 {
    font-size: 15px;
    margin-top: 35px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: justify;
}
.te-hr {
    width: 80%;
    position: absolute;
    border-top: 2px solid #f5f5f5;
    margin: 0;
}
#testi p {
    line-height: 25px;
    text-transform: capitalize;
    text-align: justify;
    letter-spacing: 1px;
    color: #939393;
    max-width: 750px;
    margin-top: 15px;
    margin-bottom: 0;
}
.text-xs-center, .text-sm-center {
    text-align: center;
}
.content_test {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
#testi {
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-top: 50px;
}
/* end html */
/* refine search */
.list-group + .panel-footer {
    border-top-width: 1px;
}
.panel-footer {
    padding: 10px 15px;
    background-color: transparent;
    border-top: 1px dashed #e1e1e1;
}
#button-filter {
    display: block;
    float: none;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: #1467c1;
    background-color: transparent;
    text-shadow: none;
}
#column-left .panel-heading{
	background-color: #1467c1;
    border-radius: 4px 4px 0px 0px;
    border-color: #1467c1;
}
.panel-default {
    box-shadow: none;
}
.panel-default > .panel-heading {
    color: #fff;
}
#xsfilter a {
    color: #1467c1;
    text-transform: uppercase;
    border: none;
}
.list-group {
    text-transform: capitalize;
}
.list-group-item{
	border: none;
	border-top: 1px dashed #e1e1e1;
}
/* refine end */
/* blog */
.blog-right p {
    color: #8d8d8d;
    line-height: 22px;
    letter-spacing: 1px;
}
.blog-right h4 a {
    margin: 10px 0 5px 0;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 1px 0 2px 0;
}
.webi-blog-image img{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.blog-right a:hover{
	color: #1967c1;
}
.webi-post-author{
	font-size: 13px;
	margin-bottom: 10px;
}
.webi-post-author .write-comment::after {
    content: '|';
    height: 14px;
    left: auto;
    padding: 0px 20px;
    position: relative;
}
.write-comment a{
	display: inline-block;
	color: #5d5d5d;
	letter-spacing: 1px;
}
.blog-right{
	padding-right: 10px;
	padding-left: 10px;
	margin-top: -95px;
	background-color: #f5f5f5;
	padding: 20px 10px;
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	z-index: 9;
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}
.write-comment i{
	margin-right: 7px;
}
.blog-right h4 a{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #000;
	display: block;
}
.webi-post-author:hover, .webi-post-author:hover a{
    color: #1967c1;
}
.product-block:hover .webi_post_hover {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transform: scale(1);
    border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.webi-blog-image{
	position: relative;
}
.deltext p{
    font-size: 13px;
    color: #b0b0b0;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-transform: capitalize;
}
.blog-ic .icon {
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
    display: inline-block;
    min-width: 35px;
    min-height: 35px;
    text-align: center;
    padding: 5px 0;
    margin: 0 5px;
    color: #000;
}
.webi_post_hover {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s ease;
    -webkit-transform: scale(0.8);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    text-align: center;
}
.blog-ic {
    position: absolute;
    left: 0px;
    right: -30px;
    margin: 0 auto;
    text-align: center;
    top: 50%;
}
.navbar-ex1-collapse{
	padding: 0px;
}
.form-group input{
	z-index: 0;
}
/* end blog */
.block-cat-wr{
	display: inline-block;
	border: 11px solid #f5f5f5;
	    border-bottom-color: rgb(245, 245, 245);
	    border-bottom-style: solid;
	    border-bottom-width: 11px;
	    border-left-color: rgb(245, 245, 245);
	    border-left-style: solid;
	    border-left-width: 11px;
	border-radius: 100%;
	border-bottom: none;
	border-left: none;
	transform: rotate(-45deg);
	text-align: center;
	margin: 0 auto;
	transition: .3s ease;
	padding: 20px;
}
.block-cat-wr img {
    transform: rotate(45deg);
}
.block-cat-wrd{
	text-align: center;
}
.cate-bg{
	text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
}
.catsp:hover .cate-bg{
	color: #1467c1;
}
.cate-bg{
	color: #000;
}
.caption .cap{
	padding-top: 45px;
}
.owl-theme .owl-controls .owl-buttons div {
    top: -50px;
}
.blog_webi{
	margin-top: 50px;
}
.febanner {
	margin-top: 50px;
}
#product .owl-carousel .owl-buttons .owl-next {
    right: 20px;
}
.next-prevb .owl-carousel .owl-buttons .owl-next{
    right: 20px;
}
.next-prevb .owl-theme .owl-controls .owl-buttons div {
    top: -57px;
}
#special.owl-theme .owl-controls .owl-buttons div {
    top: -55px;
}
.owl-carousel .owl-buttons .owl-next:hover::after, .owl-carousel .owl-buttons .owl-prev:hover::after, .owl-carousel .owl-buttons .owl-next:active::after, .owl-carousel .owl-buttons .owl-prev:active::after, .owl-carousel .owl-buttons .owl-next:focus::after, .owl-carousel .owl-buttons .owl-prev:focus::after{
    content: '';
    border-bottom: 3px solid #1467c1;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: -10px;
    transition: all 0.5s ease-in-out 0s;
}
.owl-theme .owl-controls .owl-buttons div i {
    font-size: 24px;
    color: #000;
    margin: 0px;
}
.catsp:hover .block-cat-wr{
    border: 11px solid #1467c1;
        border-bottom-color: rgb(20, 103, 193);
        border-bottom-style: solid;
        border-bottom-width: 11px;
        border-left-color: rgb(20, 103, 193);
        border-left-style: solid;
        border-left-width: 11px;
    border-bottom: none;
    border-left: none;
}
.protitle{
	position: absolute;
	left: 0;
	right: 0;
	/*margin-top: -30px;*/
	text-align: center;
	padding: 2px 15px;
	margin-bottom: 0px;
}
.protitle{
	font-size: 15px;
    color: #000;
    text-overflow: ellipsis;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.4s ease 0s;
    padding-bottom: 2px;
    letter-spacing: 1px;
    font-weight: 500;

}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	background-color: #fff;
	fill: #000;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	text-align: center;
	padding: 5px 0;
	vertical-align: middle;
	display: inline-block;
	transition: all 0.3s ease-in-out;
	border: 1px solid #fff;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
    color: #fff;
    background-color: #1467c1;
    text-decoration: none;
    cursor: pointer;
    border-color: #1467c1;
}
.product-thumb .button-group button:hover {
    fill: #fff;
}
.catf{

    text-align: center;
}
@media (min-width: 992px){
    .container {
        width: 963px;
    }
}
@media (max-width: 991px) {
    .breadcrumb {
        margin: 15px 0 15px 0 !important;
    }
    .product-thumb .button-group button {
        border: 1px solid #eee;
        border-radius: 4px; 
        margin: 0px;
        width: 30px;
        height: 30px;
        padding: 3px 0px;
    }
    .product-layout .webi-ownstyle.webi-quickview {
        border: 1px solid #eee;
        border-radius: 4px;
        margin: 0px;
        width: 30px;
        height: 30px;
        padding: 3px 0px;
    }
    .button-group {
        position: unset;
        opacity: 1;
        margin-top: 10px;
    }
    .rating, .price {
        display: block;
        text-align: center;
    }
    #product .rating {
        text-align: left;
    }
    #product .rating {
        text-align: center;
    }
    .caption{
        padding: 0px 15px; 
    }
    .caption .cap {
        padding-top: 0px;
    }
    .protitle{
        margin: 0;
        position: unset;
        padding: 5px 10px;
        font-size: 14px;
    }
    .product-thumb .rating {
        padding-bottom: 10px;
        float: none;
    }
    .product-thumb .price {
        float: none;
    }
    .lastb{
        margin-top: 2px;
    }
    .cate{
        display: none;
    }
    .coll{
        display: none;
    }
    .siinfo{
        margin-bottom: 20px;
    }
    .dinfo {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media (min-width: 600px) and (max-width: 767px) {
    .dinfos{
        padding: 0px 10px;
    }
    .siinfo {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 30px;
    }
    .dinfo .siinfo{
        width: 50%;
    }
     .ssub-img-banner{
        display: inline-block;
        width: 48%;
        margin-right: 10px;
    }
}
.proname {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 0;
}
.thumbnails {
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}
.thumbnail {
    padding: 0;
        padding-bottom: 0px;
    position: relative;
    border-color: #eee;
    padding-bottom: 1px;
}
.thumbnail .zoomWrapper > img{
    height: 100%!important;
    width: 100%!important;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}
.fhr {
    border-top: 2px solid #e4e4e4;
    width: 50px;
    margin: 15px 0;
}
.fpayment li {
    display: inline-block;
}
#contact .f-left li svg {
    fill: #8a8a8a;
	margin-right: 8px;
	float: left;
	width: 25px;
	margin-top: 4px;
	font-size: 16px;
}
.copy {
    text-align: center;
    background-color: #1967c1;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
}
.copy a{
	color: #fff;
}
.copy a:hover{
	color: #fff;
}
/* product page */
.proreview {
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    margin: 0 30px;
    padding: 0 30px;
}
.product-tab .nav-tabs li.active::after {
    height: 2px;
    width: 125px;
}
.product-tab .nav-tabs li::after {
    content: '';
    position: absolute;
    bottom: -1px;
    transition: all .3s ease-in-out;
    width: 0;
    border-bottom: 2px solid #1467c1;
    left: 0;
}
.rating a {
    text-transform: capitalize;
    color: #000;
}
.btnup {
    color: #fff;
    background-color: #1467c1;
    border: none;
    transition: all 0.5s linear;
    font-size: 16px;
    box-shadow: none;
}
.btnup:hover{
    color: #fff;
}
#gallery_01 img {
    border: 1px solid #f2f2f2;
    margin-bottom: 1px;
}
#gallery_01 a{
    padding: 0px 10px;
}
.row.galarow{
	margin-right: -10px;
	margin-left: -10px;
}
.propad .newtab{
	margin-right: 0px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
.propad .othertab{
	margin-top: 0px;
}
.propad {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}
.othertab .tab-content {
    margin: 10px;
}
.nav-tabs > li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
}
.btn-link:focus, .btn-link:hover {
    text-decoration: none;
}
.newtab li a{
	color: #000;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
    border-bottom-color: #ddd;
}
.pro-content .price-new {
    font-size: 17px;
    margin: 0px;
}
.pro-content .qty-plus-minus .form-control {
    width: 45px;
    text-align: center;
    color: #222;
    padding: 5px 0px;
}
.form-control {
    height: 37px;
    box-shadow: none;
}
#input-quantity {
    border-radius: 0px;
}
#product #content .row {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 4px;
}
.btnplus {
    border-radius: 0px 4px 4px 0px;
}
.btnminus {
    border-radius: 4px 0px 0px 4px;
}
.headti{
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;

}
.text-decor, .text-de {
    text-transform: capitalize;
    color: #222;
    font-size: 14px;
    letter-spacing: 1px;
    min-width: 150px;
    display: inline-block;
    line-height: 25px;
}
.rating li {
    display: inline-block;
}
.pro-content .rating {
    padding-top: 0px;
    list-style: none;
    margin-bottom: 20px;
}
.textdeb {
    color: #1467c1;
    margin: 0 4px;
}
.textdeb:hover{
    color: #1467c1;
}
.pro-det.pro-content .headti{
	margin-top: 0px;
}
#tab-review i {
    color: #ffc843;
}
#review .alert.alert-success.alert-dismissible{
	position: unset;
}
.product-tab #review .fa-stack {
    font-size: 8px;
}
.crspc {
    padding: 10px 0;
}
.custreview {
    text-transform: capitalize;
}
.rsep {
    padding: 0 20px;
}
/* end product */
/* breadcrumb */
.breadcrumb {
	margin: 25px 0px 20px 0;
	padding: 12px 0;
	background-color: #1467c1;
	color: #fff;
	border-radius: 4px;
	padding-left: 10px;
}
.breadcrumb li a{
	color: #fff;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.mright li a:hover {
    color: #1467c1;
}
.lastbs{
    margin-top: 3px;
}
.breadcrumb li::after {
    content: "/";
    margin: 0px 10px;
}
.breadcrumb li:last-child::after {
    content: "";
    margin: 0px;
}
.breadcrumb li a:hover {
    color: #ffc843;
    fill: #ffc843;
}
.pagination {
	margin: 0;
	display: inline;
}
/* end breascrumb */
#cart{
    margin-top: 2px;
}
/* other */
.buttons{
    text-align: right;
}
.brand-list a{
    margin: 0px 5px;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    background-color: transparent;
}
.form-control{
    border-color: #eee;
}
.btn-primary.focus, .btn-primary:focus {
   	color: #fff;
    background-color: #000;
    border-color: #000;
}
.hs {
    padding-top: 10px;
}
.allcomment h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 10px;
}
.blog_links {
    font-size: 13px;
    margin-bottom: 10px;
}
.blog_comment::before, .blog_comment::after {
    content: '|';
    padding: 0 15px;
}
.blog-desc {
    color: #777;
    line-height: 25px;
    font-size: 13px;
    margin-bottom: 20px;
    height: 100px;
    overflow: hidden;
}
.allmb {
    margin-bottom: 30px;
}
.cartname a:hover{
    color: #ffc843;
}
#cart .dropdown-menu table {
    font-size: 13px;
    text-shadow: none;
    color: #000;
}
#cart .dropdown-menu {
    width: 265px;
}
.cartdrop {
    padding: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
    padding: 0 10px;
}
#cart .dropdown-menu table {
    margin-bottom: 10px;
    font-size: 13px;
    text-shadow: none;
    color: #000;
}
.closepro {
    float: right;
}
.test:focus{
	color: #3bac44;
}
.dorpss, .accdrop{
	border-top: 3px solid #3bac44;
}
input[type="button"].btn-block, input[type="reset"].btn-block, input[type="submit"].btn-block {
    width: auto;
}
.cartprice {
    clear: both;
    position: relative;
    top: -35px;
    left: 70px;
    width: 50%;
    color: #25274d;
    font-size: 13px;
    direction: ltr;
    margin-bottom: -10px;
}
#cart .btn-pri{
    background-color: #fff;
    color: #222;
    padding: 0;
    border-color: #fff;
    border: none;
    transition: all 0.4s ease-in-out 0s;
}
.btncom .btn-primary {
    width: auto;
    display: inline-block;
    margin: 0px;
}
.btncom .btn-primary {
    width: auto;
    display: inline-block;
    margin: 0px;
}
#cart .btn-danger {
    background-color: #fff;
    color: #222;
    padding: 0;
    border-color: #fff;
    border: none;
    transition: all 0.4s ease-in-out 0s;
}
.catsearch::after {
    font-family: 'fontawesome';
    content: '\f107';
    font-size: 14px;
    position: absolute;
    right: 25px;
    top: 9px;
    pointer-events: none;
}
.padd{
	margin: -1px;
}
.searchbt {
    margin-bottom: 20px;
}
.brand-list {
    border: 1px solid #f2f2f2;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.bname {
    background: none repeat scroll 0 0 #f2f2f2;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 6px 0;
    padding: 5px 8px;
    border-radius: 4px;
}
.alert-dismissible .close {
    top: 0;
    right: 0;
}
#product #content .alert {
    top: 18px;
    border-radius: 4px;
    position: unset;
}
.cartname a{
	font-size: 12px;
}
.closepro .btn-xs {
    font-size: 9px;
    background-color: transparent;
    color: #000;
    border: none;
    box-shadow: none;
    padding: 0px;
}
.closepro {
    float: right;
}
.well {
	border: none;
	box-shadow: none;
}
.alert {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    border-radius: 0;
    z-index: 99;
}
.middle-footer{
	padding-bottom: 45px;
}
.breadcrumb li a:hover {
    color: #fff;
    fill: #fff;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 0;
    color: #1467c1;
    background-color: transparent;
    border-color: #eee;
}
.imgin{
	padding: 0px;
}
.btn-default.focus, .btn-default:focus {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
strong {
    font-weight: 500;
}
.fborder h5{
	margin-bottom: 15px;
}
.fsocial h5{
	margin-bottom: 15px;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
}
#cart .dropdown-menu li > div table td {
    border: 1px solid #ececec;
    border-bottom-color: rgb(236, 236, 236);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#cart li tbody tr td {
    border-bottom: 1px solid #f6f6f6 !important;
    border: none;
}
a{
    color: #000;
}
.fborder #column-right{
    width: 100%;
}
.achead {
    font-size: 14px !important;
    color: #fff !important;
    background-color: #1467c1;
    padding: 8px 10px;
    border-radius: 4px;
}
.accolor {
    margin-top: -10px;
    padding: 10px 5px !important;
    line-height: 25px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}
.form-control {
    height: 37px;
    box-shadow: none;
}
#input-voucher, #input-coupon {
    height: 34px;
}
.accdrop li i {
    margin-right: 7px;
    width: 20px;
}
.btn-xs:active:focus{
	background-color: transparent;
}
.email-f .valid .alert {
   	margin-top: 5px;
	position: absolute;
	right: 15px;
	left: 15px;
	z-index: 5;
	border-radius: 4px;
	top: 58px;
}
:focus {
    outline: none;
}
.blogal .alert {
    position: unset;
}
.blogu span {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 23px;
    font-size: 14px;
}
.view-comment i {
    font-size: 18px;
    line-height: 30px;
}
.date span {
    margin: 0 20px;
    font-size: 14px;
}
.wco {
    margin-left: 38px;
    position: relative;
    top: 6px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #777;
}
.view-comment:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.view-comment {
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.bcomment {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #fff;
}
.lastbs a::before {
   content: '';
    position: absolute;
    border: 1px solid transparent;
    transition: 0.3s ease;
    bottom: -13px;
    width: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
} 
.lastbs a:hover::before {
    width: 70px;
    border: 1px solid #1467c1;
}
.lastb a:hover {
    color: #1467c1;
}
.bor .col-sm-5{
    margin-top: 5px;
}
.lastbs a:hover::after {
    font-family: "FontAwesome";
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: -24px;
    content: "\f0de";
    left: 0;
    transition: 0.3s ease;
}
.panel-title {
    color: #000;
}
.view_more.my-menu
{
    padding: 15px 0px;
}
.input-group .form-control {
    z-index: 0;
    border-color: #eee;
}
/* other end */
/* popup */
.news-popup .checkbox {
    display: inline-block;
}
.newsletter-bg .description-top h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 26px;
    margin: 25px 0;
    color: #222;
}
.newsletter-bg {
    text-align: center;
}
.mfp-content .divtop h3{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 26px;
    margin: 25px 0;
    color: #222;
}
.newsletter-bg .inner .form-group .inputNew {
    width: 70%;
    margin: 0 auto;
    height: 42px;
    border: 1px solid #eee;
} 
.valid .error, .valid .alert {
    position: unset;
    margin-top: 10px;
    border-radius: 4px;
}
input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline: none;
}
.news-popup .checkbox {
    display: inline-block;
}
/* endpopup */
@media (max-width: 1199px){
    .febanner {
        margin-top: 30px;
    }
     #search-by-category .search-container .categories-container {
        display: none;
    }
    #text-search {
        border-left: 1px solid #dcdcdc;
        border-radius: 4px 0px 0px 4px;
    }
    .ssub-img-banner {
        margin-bottom: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .product-thumb .price-new, .price {
        font-size: 14px;
    }
    .deltext h4{
        font-size: 14px;
        letter-spacing: 0;
    }
    .rownext ul li {
        margin-right: 25px;
    }
    .rownext ul {
        margin-top: 2px;
    }
    #top-links-n {
        margin-top: 8px;
    }
}
@media (min-width: 1411px) and (max-width: 1589px) {
	.product-list .image {
	    width: 30% !important;
	}
	.product-list .caption {
	    width: 70% !important;
	    float: right;
	    text-align: left;
	}
}
@media (min-width: 600px) and (max-width: 767px){
    .compar {
        display: none;
    }
}
@media (min-width: 500px) and (max-width: 767px){
    .acc {
        padding-right: 15px;
    }
    .product-list {
        width: 33.33%;
    }
    .product-grid {
        width: 33.33%;
    }
}
@media (max-width: 499px){
    .pro-content .headti {
        font-size: 14px;
    }
    .product-list {
        width: 50%;
    }
    .product-grid {
        width: 50%;
    }
}
.relpro {
    padding: 30px 0px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: transparent;
}
@media(max-width: 575px){
    .bor .col-sm-5, .bor p{
        margin-top: 10px;
    }
    .product-tab .nav-tabs li.active::after {
        height: 2px;
        width: 90px;
    }
    .product-layout {
        position: relative;
        padding: 0px 5px;
    }
    .owl-pagination {
        top: 0px;
    }
    #testi p {
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.3px;
        font-size: 13px;
    }
    .news {
        padding: 30px 0px;
    }
    .propad {
        margin-top: 30px;
    }
    .rating .fa-stack {
        font-size: 6px;
    }
    #testi {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-top: 30px;
    }
    .swiper-viewport {
        margin: 0 0 30px !important;
    }
    .headti {
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: capitalize;
    }
    .email-f{
        padding: 0px;
    }
    footer {
        margin-top: 20px;
    }
    .relpro .next-prevb .owl-theme .owl-controls .owl-buttons div {
        top: -60px;
    }
    #account .xsuser {
        margin-right: 15px;
    }
    .febanner{
        display: none;
    } 
    .box.blog_webi {
        margin-top: 30px;
    }
    .dinfo {
        padding-top: 10px !important;
    }
    .nav-tabs > li > a {
        font-size: 13px !important;
        letter-spacing: 0.3px !important;
        font-weight: 500;
        padding: 10px 5px;
        margin-right: 0px !important;
        border-bottom: 2px solid transparent;
    }
    .row.adding {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .proreview {
        margin: 0 8px;
        padding: 0 8px;
    }
    .rating a {
        font-size: 12px;
    }
    .breadcrumb li a {
        font-size: 12px;
    }
    .product-grid, .product-list {
        margin-bottom: 20px;
        padding: 0 10px !important;
    }
    .paginationss {
        margin: 0px 0px;
    }
    .product .nav-tabs > li {
        float: left;
    }
    .tab-head ul {
        margin-right: 0px;
    }
    .tab-head h1{
        display: none;
    }
    .siinfo {
        text-align: left;
        padding-bottom: 10px;
        margin: 0px !important; 
    }
    .othertab {
        margin-top: 0px;
    }
    .is-countdown {
        padding: 0px;
    }
    .dis{
        margin-bottom: 15px;
    }
    .product-thumb .price-new, .price {
        font-size: 14px;
    }
    .product-thumb .price-old {
        font-size: 13px;
    }
    .product-list .protitle {
        font-size: 14px;
        padding: 5px 0px;
    }
}
.pro-content .rating { 
        text-align: left !important;
}
@media (min-width: 768px) and (max-width: 991px) {
    .proreview {
        margin: 0 15px;
        padding: 0 15px;
    }
    .fborder li a, .f-left li, .mainh {
        font-size: 13px;
        letter-spacing: 0px;
    }
    #cart{
        padding-right: 5px;
    }
    .dinfos{
        padding: 0px 15px;
    }
    .mynav {
        width: 205px;
    }
    #top .btn-link, #top-links li, #top-links a {
        font-size: 13px;
    }
    .product-list .image {
        width: 45% !important;
    }
    .product-list .caption {
        width: 55% !important;
        float: right;
        text-align: left;
    }
    .btn-navbar.navbar-toggle{
        padding: 0px 15px;
    }
    .rownext ul li {
        margin-right: 20px;
    }
    .carts .acc {
        padding: 0px 20px;
    }
    .fpayment svg{
        width: 35px;
        height: 35px;
    }
    .compro {
        margin: 0 0 0 20px;
    }
    #form-currency {
        margin: 0px 20px;
    }
    .container {
        width: 100%;
    }
}
.dropdown-menu {
    right: 0;
    left: auto;
}
/* fixed colum left + content + right*/
@media (min-width: 768px) {
    .catfilter button {
        display: none;
    }
    #xsfilter {
        display: block !important;
    }
	#cart .dropdown-menu, #top .dropdown-menu, .curlan .dorpss, .acc .dropdown-menu {
	    visibility: hidden;
	    display: block;
	    opacity: 0;
	    margin-top: 0px;
	    border-top: 3px solid #000 !important;
	    border: 1px solid #e7e7e7;
	    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
	    visibility: hidden;
	    display: block;
	    opacity: 0;
	    border-radius: 0px;
	    box-shadow: none;
	    padding: 0px;
	    transform-origin: 0 0 0;
		transform: scale(1, 0);
		transition: all 500ms ease 0s;
		border-radius: 0px 0px 4px 4px;
	}
	#cart.open .dropdown-menu, #top .open .dropdown-menu, .curlan.open .dorpss, .acc.open .dropdown-menu {
	    visibility: visible;
	    opacity: 1;
	    transform: scale(1, 1);
	    margin-top: 12px;
	    background: #fff;
	    border: 1px solid #ededed;
	    padding: 5px 0px;
	   
	}
	.middle-footer h5 button {
	    display: none;
	}
	.footer-collapse.collapse {
	    display: block !important;
	    height: auto !important;
	    padding-bottom: 0;
	    overflow: visible !important;
	}
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}
/* Missing focus and border color to overwrite bootstrap */
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #222;
    color: #fff !important;
    fill: #fff;
    border-color: #222;
}
#common-home #content, #information-sitemap #content{
	width: 100%;
}
@media (min-width: 1411px){
    .product-list .image {
        width: 30%;
    }
    .product-list .caption {
        width: 70%;
    }
    .product-grid {
        width: 20%;
    }
    .product-list {
        width: 50%;
    }
}
@media(min-width: 1410px){
    .menuhed{
        width: 20%;
    }
    .mright{
        width: 65%;
    }
    .carts{
        width: 15%;
    }
}
@media (min-width: 1199px) and (max-width: 1410px){
    #search-by-category .search-container .categories-container {
        float: left;
        width: 30%;
        position: relative;
    }
    .cate-selected{
        font-size: 13px;
    }
}
@media (min-width: 991px) and (max-width: 1410px){
    .product-list .image {
        width: 25% !important;
    }
    .product-list .caption {
        width: 75% !important;
        float: right;
        text-align: left;
    }
}
@media(min-width: 1590px){
	#column-right{
		width: 20%;
	}
	.container {
	    width: 1560px;
	}
	#column-left {
	    width: 20%;
	}
	.accon #content {
	    width: 80%;
	}
}
@media(max-width: 599px){
    .ssub-img-banner:last-child {
        margin-bottom: 0px !important;
        margin-right: 0px;
    }
    .dinfos{
        padding: 0px 10px; 
    }
    .content_test .float-xs-left {
        float: none;
    }
    .ssub-img-banner{
        width: 100%;
    }
    .content_test .img-responsive {
        margin: 0 auto;
    }
    .text-p{
        display: block;
    }
    .paginationss .text-left, .paginationss .text-right {
        text-align: center !important;
        width: 100%;
        padding: 0;
    }
    .pagination {
        display: inline-block;
    }
    .catesort {
        width: 100%;
        margin-top: 15px;
    }
}
#wishlist-total i, .compro i{
    margin-right: 5px;
}
@media(min-width: 1411px) and (max-width: 1589px){
    .container {
        width: 1380px;
    }
}
@media(min-width: 1200px) and (max-width: 1410px){
    .container {
        width: 1170px;
    }
}
@media (max-width: 767px) {
    footer {
        margin-top: 30px;
    }
    .blog-right{
        position: unset;
        margin: 0px;
        margin-top: 15px;
        padding: 10px 10px;
    }
    .blog-right h4 a, .blog-right h4{
        margin-top: 0px;
    }
    .webi-post-author {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .blog-right p {
        font-size: 13px;
        letter-spacing: 0.3px;
    }
    .currency-select {
        text-align: left;
        color: #000;
    }
    .catfilter .toggle.collapsed::after {
        font-family: 'FontAwesome';
        content: '\f067';
        font-size: 14px;
        font-weight: normal;
        cursor: pointer;
    }
    .panel-heading {
        background-color: #1467c1 !important;
        border-radius: 4px !important;
        border-color: #1467c1 !important;
    }
    .catfilter .toggle::after {
        font-family: 'FontAwesome';
        content: '\f068';
        font-size: 14px;
        font-weight: normal;
        cursor: pointer;
    }
    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
        outline: none;
    }
    .catfilter .add {
        border: none;
        background-color: transparent;
        float: right;
        padding: 0px;
        color: #fff;
    }
    #product .proname {
        margin-top: 25px !important;
        font-size: 15px;
    }
    .fhr{
        display: none;
    }
    .fleft {
        padding-top: 20px;
    }
    #testi h3 {
        text-align: center;
    }
    .jd-2 {
        margin: 30px 0px;
    }
    .caption{
        padding: 0px;
    }
    #slideshow0 .owl-buttons div {
        display: none;
    }
    header {
        padding: 10px 0px;
    }
    #search .input-lg {
        height: 42px;
    }
    #search .btn-lg {
        height: 42px;
        width: 65px;
    }
    #form-currency .dropdown-menu{
        right: -45px;
        left: auto;
    }
    .language-select{
        text-transform: capitalize;
        color: #000 !important;
        text-align: left;
    }
    .fsocial{
        border-top: 1px solid rgba(178, 178, 178, 0.1);
    }
    #column-left1 p {
       margin-top: 0px !important;
       margin-bottom: 15px !important;
    }
    .middle-footer {
        padding-bottom: 10px !important;
    }
    .account li i {
        padding-right: 5px;
        width: 25px;
    }
    .pro-det.pro-content .headti {
        margin-top: 25px !important;
        font-size: 15px;
    }
    .header-top {
        background-color: #192739;
        padding: 10px 0;
    }
    #text-search {
        height: 42px;
    }
    #btn-search-category {
        height: 42px;
        width: 65px;
    }
    .linkback{
        display: none;
    }
    .mfp-iframe-holder .mfp-content {
        height: 100%;
    }
    .mfp-container.mfp-s-ready.mfp-inline-holder #formNewLestter {
        background-color: #fff;
        background-image: none !important;
    }
    .newsletter-bg .inner .form-group .inputNew {
        width: 100%;
    }
    .product-list .caption {
        text-align: center !important;
        float: none;
    }
    .cate-border {
        margin: 15px 0px;
    }
    .product-list .discription{
        height: 44px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0px;
    }
    .product-list .product-thumb .rating {
        text-align: center !important;
        padding-bottom: 5px;
    }
    .product-list .product-thumb .price {
        text-align: center !important;
    }
    .product-list .product-thumb .button-group {
        text-align: center !important;
    }
    .manuf{
        margin-top: 30px!important;
    }
    #menu .nav > li > a {
        border-bottom: none;
    }
    .testimonial{
        margin: 10px 0px;
    }
    .relpro{
        padding-bottom: 0px !important;
    }
    #column-left{
        padding: 0px;
        margin-top: 30px;
    }
    .dinfo .row{
        margin: 0px; 
    }
    .dinfo {
        padding: 0px 0px !important;
        margin-bottom: 30px !important;
    }
    .deltext{
        text-align: center;
    }
    .febanner {
        margin: 30px 0px !important;
    }
    .fborder h5 {
        text-align: left;
        font-size: 15px;
        margin-bottom: 5px;
    }
    .testimonial ul, .fborder ul {
        margin-bottom: 10px;
    }
    .webi-newsletter form {
        margin: 0px; 
    }
    .inner {
        margin: 0px;
    }
    .foot-logo img{
        margin: 0px auto;
    }
    #input-search {
        margin-bottom: 10px;
    }
    .fborder button.btn:hover, .fborder button.btn:focus{
        color: #000;
        text-decoration: none;
    }
    .mainbanner{
        display: none;
    }
    .offerbanner{
        display: none;
    }
    .account {
        min-width: 240px;
        border-radius: 4px;
    }
    #form-currency, #form-language {
        display: inline-block;
        margin: 0px !important;
    }
    .compro {
        margin: 0 0 0 0px !important;
        padding: 3px 20px;
    }
    #compare-total {
        display: inline-block;
        font-size: 13px;
        padding: 0px 0px;
        text-transform: capitalize;
    }
    .compro svg {
        margin: 0px 0px;
    }   
    .account li i {
        padding-right: 5px;
        width: 25px;
    }
    .account button.dropdown-toggle {
        border: 1px solid #eee;
        padding: 7px;
        color: #222;
        font-size: 12px;
        letter-spacing: 0;
        margin: 10px !important;
        border-radius: 4px;
    }
    #wishlist-total i {
        padding-right: 5px;
        width: 25px;
    }
    #wishlist-total {
        margin: 0px 0px !important;
        padding: 7px 20px;
        position: relative;
        color: #131313;
    }
    #top {
        display: none;
    }
    .mright{
        display: none;
    }
    #menu{
        margin-bottom: 0;
        display: inline-block;
        background-color: transparent;
        border: none;
        float: left;
    }
    #sppro .button-group {
        display: block;
    }
    .button-group {
        opacity: 1;
       /*  position: relative; */
    }
    .product-layout .webi-ownstyle.webi-quickview {
        display: block!important;
    }
    .navbar-header {
        display: block;
    }
    .navbar-header button{
        border: none;
        background-color: transparent;
        color: #fff;
        padding: 0px;
        font-size: 17px;
        cursor: pointer;
        margin-right: 15px!important;
        margin-top: 8px!important;
    }
    .navbar-header button .fa {
        font-size: 19px;
    }
    body.active {
        overflow: hidden;
    }
    .owl-wrapper {
        padding-bottom: 0px;
    }
    .cbanner {
        margin-top: 50px;
    }
    .small {
        margin-bottom: 20px;
    }
    .navri ul{
        padding: 0px;
        margin: 0px;
    }
    .facebook::before{
        border: none;
    }
    .pinterest::before {
        border: none;
    }
    .googleplus::before {
        border: none;
    }
    body.active::before {
        background: #000000 none repeat scroll 0 0;
        content: "";
        height: 100%;
        opacity: 0.7;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999;
        transition: all .2s ease 0s;
        -webkit-transition: all .2s ease 0s;
        -moz-transition: all .2s ease 0s;
        -ms-transition: all .2s ease 0s;
        -o-transition: all .2s ease 0s;
    }
    body.active .sidenav {
        overflow-y: scroll;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        transition: 0.5s;
        padding-top: 60px;
        overflow-x: hidden;
        clear: both;
        height: 100%;
        background-color: #fff;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .sidenav .close-nav {
        background-color: #222;
        padding: 12px 15px;
        width: 100%;
        display: inline-block;
        color: #fff;
        letter-spacing: 1px;
        font-size: 14px;
    }
    .closebtn,.closebtn:hover,.closebtn:focus{
        color: #fff;
        float: right;
    }
    #tab-description p{
        font-size: 12px;
    }
    #mobile_top_menu_wrapper {
        margin: 0;
        line-height: 20px;
        display: block !important;
    }
    #menu .navbar-collapse {
        display: block;
        border: none;
    }
    .dblock{
        display: block;
    }
    .dnone{
        display: none
    }
    #mySidenav .collapse{
        display: block;
        box-shadow: none;
    }
    #menu .navbar-toggle {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        color: #000;
    }
    #mySidenav .fa-close::before {
        width: 0px;
        height: 0px;
        margin: 0px;        
     }
    /* side nav complit */
    .bbb{
        display: inline-block;
        float: right;
        margin-top: 6px;
    }
    #logo {
        width: 150px;
    }
    .fborder h5 .toggle.collapsed::after {
        font-family: 'FontAwesome';
        content: '\f067';
        font-size: 14px;
        font-weight: normal;
        float: right;
        cursor: pointer;
    }
    .fborder h5 .toggle::after {
        font-family: 'FontAwesome';
        content: '\f068';
        font-size: 14px;
        font-weight: normal;
        float: right;
        cursor: pointer;
    }
    .fborder button {
        width: 100%;
        border: none;
        background-color: transparent;
        box-shadow: none;
        position: absolute;
        right: 0;
        padding-top: 0px;
    }
    btn.active, .btn:active {
        box-shadow: none;
    }
    .navbar-nav {
        margin: 0px;
        padding: 0px;
    }
    #logo{
        display: inline-block;
    }
    .logos{
        display: inline-block;
        width: 100%;
    }
    #mySidenav {
        display: block !important;
    }
    #menu {
        border-radius: 4px;
    }
    #menu div.dropdown-inner > ul.list-unstyled {
        display: block;
    }
    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: transparent;
    }
    #menu .dropdown-inner {
        display: block;
    }
    #menu .dropdown-inner a {
        width: 100%;
        color: #000;
    }
    #menu .see-all {
        margin-top: 0;
        border: none;
        border-radius: 0;
        color: #fff;
    }
}