/****/
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
}
.white-popup  .mfp-close{
    background:#FFF;
}
.newsletter-bg{
   background-repeat: no-repeat;
   background-size: cover;
}
.slide-bottom{
    position: absolute;
    padding:30px;
    background:#FFF;
    bottom: 0;
    right: 10%;
    border: solid 1px #000;
}
.slide-bottom .inner{
    position: relative;
}
.button-slide{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background:#000;
    color: #FFF;
    text-align: center;
    line-height: 30px;
}
/****/
.webi-newsletter form{


}