{{ header }}
<div class="vie">
<div id="information-information" class="container">
  
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-8' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
      <div class="hedcol">
      <div class="head-t">
      <h4 class="">{{ heading_title }}</h4>
    </div>
    <div class="bor">
      {{ description }}{{ content_bottom }}</div>
    {{ column_right }}</div>
  </div>
  </div>
</div>
</div>
{{ footer }}