{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-ocinstagram" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-ocinstagram" class="form-horizontal">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                            {% if error_name %}
                                <div class="text-danger">{{ error_name }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="status" id="input-status" class="form-control">
                                {% if status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-userid">{{ entry_userid }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="userid" value="{{ userid }}" placeholder="{{ entry_userid }}" id="input-userid" class="form-control" /> 
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-access-token">{{ entry_access_token }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="access_token" value="{{ access_token }}" placeholder="{{ entry_access_token }}" id="input-access-token" class="form-control" />
                            <div class="text-info" style="margin-top: 5px;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ help_access_token }}</div>
                            {% if error_access_token %}
                            <div class="text-danger" style="margin-top: 5px;">{{ error_access_token }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-limit">{{ entry_limit }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-rows">{{ entry_rows }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="rows" value="{{ rows }}" placeholder="{{ entry_rows }}" id="input-rows" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-mode">{{ entry_view_mode }}</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="input-mode" name="view_mode">
                                <option value="gallery" {% if view_mode == 'gallery' %} selected="selected" {% endif %} >{{ text_gallery_mode }}</option>
                                <option value="slider"  {% if view_mode == 'slider' %}  selected="selected" {% endif %} >{{ text_slider_mode }}</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="form-group mode-slider">
                        <label class="col-sm-2 control-label" for="input-item">{{ entry_item }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="item" value="{{ item }}" placeholder="{{ entry_item }}" id="input-item" class="form-control" />
                        </div>
                    </div> -->
                    <div class="form-group mode-slider">
                        <label class="col-sm-2 control-label" for="input-speed">{{ entry_speed }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="speed" value="{{ speed }}" placeholder="{{ entry_speed }}" id="input-speed" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group mode-slider">
                        <label class="col-sm-2 control-label" for="input-autoplay">{{ entry_autoplay }}</label>
                        <div class="col-sm-10">
                            <select name="autoplay" id="input-autoplay" class="form-control">
                                {% if autoplay %}
                                    <option value="1" selected="selected">{{ text_yes }}</option>
                                    <option value="0">{{ text_no }}</option>
                                {% else %}
                                    <option value="1">{{ text_yes }}</option>
                                    <option value="0" selected="selected">{{ text_no }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group mode-slider">
                        <label class="col-sm-2 control-label" for="input-shownextback">{{ entry_shownextback }}</label>
                        <div class="col-sm-10">
                            <select id="input-shownextback" name="shownextback" class="form-control">
                                <option value="0"  {% if shownextback==0 %} selected="selected" {% endif %} >{{ text_no }}</option>
                                <option value="1"  {% if shownextback==1 %} selected="selected" {% endif %} >{{ text_yes }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mode-slider">
                        <label class="col-sm-2 control-label" for="input-shownav">{{ entry_shownav }}</label>
                        <div class="col-sm-10">
                            <select id="input-shownav" name="shownav" class="form-control">
                                <option value="0"  {% if shownav==0 %} selected="selected" {% endif %} >{{ text_no }}</option>
                                <option value="1"  {% if shownav==1 %} selected="selected" {% endif %} >{{ text_yes }}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.mode-slider').hide();
        var view_mode = $('#input-mode').val();
        if(view_mode == 'slider') {
            $('.mode-slider').show();
        }

        $('#input-mode').change(function () {
            view_mode = $('#input-mode').val();
            if(view_mode == 'slider') {
                $('.mode-slider').show();
            } else {
                $('.mode-slider').hide();
            }
        })
    })
</script>
{{ footer }}