<span style='color: #000' title='Frames'>   246</span><span style='color: #009' title='Memory'>  15872.00 KB</span><span style='color: #900' title='Time'>   1096.68 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />